<link rel="stylesheet" href="">
<div id="contenedor">
    <div id="titulo">
        <p>Temario educativo</p>
    </div>
    <form action="/temarioCurso/agregar/{{}}" method="post">
        <div id="Objetivo">
            <input type="text" name="objetivo" id="objetivo">
        </div>
        <div id="modulos">
            <p><input type="text" name="Módulos" id="Módulos"> Módulos</p>
        </div>
        <div id="clases">
            <p><input type="text" name="Clases" id="Clases">Clases</p>
        </div>
        <div id="cupos">
            <p><input type="text" name="Cupos" id="Cupos"> Cupos disponibles</p>
        </div>
        <div id="duracion">
            <p><input type="text" name="Duración" id="Duración"> Duración total</p>
        </div>

        <div id="temas">
            <input type="text" name="tema" id="tema"> <input type="text" name="nclases" id="nclases"> <input type="text" name="nhoras" id="nhoras">
            <input type="text" name="claseTema" id="claseTema"> <input type="text" name="duracion" id="duracion">
        </div>
        <div id="crearTemario">
            <button type="submit">Guardar <img src=""></button>
        </div>
    </form>
</div>