<link rel="stylesheet" href="">
{{#each listaPagina}}
<form action="/material/add/{{idPage}}" method="post">
{{/each}}
    <div id="contenedor">
        <div id="titulo">{{#each lista}}
            <p>Agregar Material de Curso N° <input type="text" name="idMaterial" id="numero" required
                    value="{{Maximo}}"></p>{{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div id="nombre">
            <p>Nombre del Material Curso:</p>
            <input type="text" name="nameMaterial" id="nameMaterial" required>
        </div>
        <div id="descripcion">
            <p>Descripcion del Material:</p>
            <textarea type="text" name="descriptionMaterial" id="descriptionMaterial" required></textarea>
        </div>
        <div id="cantidad">
            <p>Cantidad del Material:</p>
            <input type="text" name="quantyMaterailClass" id="quantyMaterailClass" required>
        </div>
        <div id="valor">
            <p>Precio del Material</p>
            <input type="text" name="valueMaterial" id="valueMaterial" required>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>