.bg-curso {
    background-image: url('/img/icons/fondoLista.png');
    background-size: contain;
    background-position: top center; 
    background-repeat: no-repeat;
    width: 100%;
    min-height: 160vh;
}
  