.bg-curso-detalle {
    background-image: url('/img/fondo/fondo1.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px auto;
    max-width: 300px;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border-radius: 10%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.calendar-day.highlight {
    background-color:  #A7F1F5;
}

.botonPanico {
    display: flex;
    justify-content: center;
}

.boton-panico {
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    border-radius: 50%;
    background-color: red;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-panico:hover {
    background-color: rgb(158, 7, 7);
    transform: scale(1.06);
}