.dropdownItemStudent {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdownItemtudent:hover {
    transform: scale(1.05);
}

.linea {
    width: auto;
    height: 3px;
    background: linear-gradient(to right, #ff8800, #f2dabf);
    border: none;
    margin-top: 5px;
}