#contendorPoliticas {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

#datos {
    width: 100%;
    max-width: 98%;
    margin-left: 1%;
}

#politica {
    width: 100%;
    max-width: 100%;
}

#politica h1 {
    width: 100%;
    color: #18574F;
    font-size: 30px;
}

#politica img {
    width: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#listaPolitica {
    text-align: left;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border: 3px solid #F39325;
}

#listaPolitica p {
    margin-left: 1%;
}

@media (max-width: 2560px) and (min-width: 1985px) {
    #politica h1 {
        font-size: 50px;
    }

    #listaPolitica {
        font-size: 30px;
    }
}