.bg-fondo {
    background-image: url('/img/fondo/Tareas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Estilos para el encabezado de la tabla */
.tabla thead {
    background-color: #f4f4f4;
}

.tabla th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Estilos para las filas de la tabla */
.tabla tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla tbody tr:hover {
    background-color: #f1f1f1;
}

.tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Estilos para los checkboxes */
.attendance-checkbox {
    cursor: pointer;
}

/* Estilo para el valor total */
.tabla input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

/* Estilos para el botón de envío */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}