#contenedor {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
}

#fondo {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 165%;
}

#fondo img {
    width: 100%;
    height: 165%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#datosCurso {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 10%;
    left: 0%;
}

#fondoVerde {
    width: 65%;
    height: 50%;
    background-color: #147582;
    position: absolute;
    top: 3%;
    left: 2%;
    border-radius: 10px;
}

#foto {
    position: absolute;
    width: 30%;
    height: 90%;
    top: 5%;
    left: 2%;
}

#foto img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#direccion {
    position: absolute;
    width: 63%;
    height: 40%;
    top: 17%;
    left: 35%;
}

#direccion #ubicacion {
    display: none;
}

#direccion #map {
    width: 100%;
    height: 100%;
}

#Nombre {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: center;
    top: 1%;
    font-size: 15px;
}

#tipoDeCurso {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: left;
    top: 57%;
    font-size: 20px;
    margin-left: 1%;
}

#adactacion {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: left;
    top: 67%;
    font-size: 20px;
    margin-left: 1%;
}

#video {
    position: absolute;
    left: 68%;
    width: 30%;
    height: 100%;
    top: 2%;
    border-radius: 10px;
}

#video video {
    width: 100%;
    height: 312px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#segundoCuadro{
    width: 65%;
    position: absolute;
    left: 2%;
    top: 57%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#descripcion {
    width: 100%;
    height: 100px;
    margin-top: -2.5%;
    border-radius: 10px;
    text-align: left;
    font-size: 17px;
}

#descripcion h1{
    color: #18574F;
    margin-left: 1%;
    margin-top: 4%;
}

#descripcion p{
    margin-left: 3%;
}

#contenedordocente {
    width: 100%;
    height: 190px;
}

#docente{
        width: 94%;
        height: 100%;
        margin-left: 5%;
}

#docente img{
    width: 16%;
    margin-top: 1.5%;
    margin-left: 1%;
    border-radius: 50%;
}

#docente h1 {
    margin-top: -18%;
    margin-left: 22%;
    font-size: 20px;
    color: #F39325;
}

#docente p{
    width: 77%;
    height: 73%;
    margin-left: 23%;
    margin-top: 0%;
    font-size: 20px;
}

#aprobado {
    width: 5%;
    margin-top: -5%;
    margin-left: 5%;
}