#contenedor {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
}

#fondo {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 165%;
}

#fondo img {
    width: 100%;
    height: 165%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#datosCurso {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 10%;
    left: 0%;
}

#fondoVerde {
    width: 65%;
    height: 50%;
    background-color: #147582;
    position: absolute;
    top: 3%;
    left: 2%;
    border-radius: 10px;
    color:white;
}

#foto {
    position: absolute;
    width: 30%;
    height: 90%;
    top: 5%;
    left: 2%;
}

#foto img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#direccion {
    position: absolute;
    width: 63%;
    height: 40%;
    top: 20%;
    left: 35%;
}

#direccion #ubicacion {
    display: none;
}

#direccion #map {
    width: 100%;
    height: 100%;
}

#Nombre {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: center;
    top: 1%;
    font-size: 15px;
}

#tipoDeCurso {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: left;
    top: 57%;
    font-size: 20px;
    margin-left: 1%;
}

#adactacion {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: left;
    top: 67%;
    font-size: 20px;
    margin-left: 1%;
}

#video {
    position: absolute;
    left: 68%;
    width: 30%;
    height: 100%;
    top: 2%;
    border-radius: 10px;
}

#video video {
    width: 100%;
    height: 312px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#cuadros2 {
    width: 65%;
    position: absolute;
    left: 2%;
    top: 57%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#descripcion1 {
    width: 100%;
    height: 100px;
    margin-top: -2.5%;
    border-radius: 10px;
    text-align: left;
    font-size: 17px;
}

#descripcion1 h1,
#contenedordocentess h1,
#tituloTemario h1 {
    color: #18574F;
    margin-left: 1%;
    margin-top: 4%;
}

#descripcion1 p {
    margin-left: 3%;
}

#contenedordocentess {
    width: 100%;
    height: 190px;
    position: relative;
}
#fotoDocente{
    position: relative;
    top: 73%;
}

#DataDocente{
position: absolute;
bottom: 50px;
left: 200px;
}

#contenedordocentess img{
    position: absolute;
    bottom: 50%;
}

#docentess {
    width: 94%;
    height: 100%;
    margin-left: 5%;
}

#docentess img {
    width: 16%;
    margin-top: 1.5%;
    margin-left: 1%;
    border-radius: 50%;
}

#docentess h1 {
    margin-top: -18%;
    margin-left: 22%;
    font-size: 20px;
    color: #F39325;
}

#docentess p {
    width: 77%;
    height: 73%;
    margin-left: 23%;
    margin-top: 0%;
    font-size: 20px;
}

#aprobadoss {
    width: 5%;
    margin-top: -5%;
    margin-left: 5%;
}

#temario {
    width: 100%;
    margin-left: 1%;
    text-align: left;
}

#tituloTemario p{
    color:#004d77;
    margin-left: 15.2px;
    margin-bottom: 19px;
}


#moduloTotal {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten a la siguiente fila si es necesario */
    gap: 10px;

    /* Espacio entre los elementos */
}

#moduloTotal p {
    flex: 1 1 30%;
    /* Cada <p> ocupa el 30% del ancho del contenedor */
    margin: 0;
    /* Elimina el margen predeterminado de los <p> */
    text-align: center;
    color: #18574F;
    /* Centra el texto dentro del <p> */
}

#cupos {
    font-size: 20px;
    margin-left: 1%;
    margin-top: 3%;
}

#modalidad {
    display: none;
}

#curso {
    display: none;
}

#Modalidad {
    width: 33%;
    margin-left: 1%;
    font-size: 20px;
}



#Curso {
    width: 33%;
    margin-left: 33%;
    margin-top: -22.7%;
    font-size: 20px;
}

#Edad {
    width: 33%;
    margin-left: 65%;
    font-size: 20px;
    margin-top: -22.7%;
}


#imagenPresencial img,
#Virtual img,
#Cursos img,
#Chouching img,
#imageEdad img {
    width: 35%;
}

#Curso{
    top: 500px;
}

#recursosParaClase{
    margin-top: 20px;
display: flex;
justify-content: space-around;
}


#recursoss {
    width: 40%;
    background-image: linear-gradient(to top, #177483 32%, #004D77 100%);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    height: auto;
}

#Materiales {
    
    width: 40%;
    background-image: linear-gradient(to top, #177483 32%, #004D77 100%);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    height: auto;
}

#recursoss p,
#Materiales p {
    font-size: 25px;
    padding-top: 5%;
    margin-left: 11%;
}

#listaRecursoss,
#materialesCurso {
    margin-top: -25%;
    margin-left: 41%;
}

#imagenRecurso img,
#imagenRecurso img {
    width: 20%;
    margin-left: 20%;

}

#tareasss {
    margin-top: 10%;
    margin-left: 1%;
    font-size: 20px;
}

#Pruebass {
    margin-top: 10%;
    width: 100%;
    font-size: 20px;
    margin-left: 1%;
}

#imagenTareass img {
    width: 10%;
}

#imagenPruebass img {
    width: 10%;
}

#tareass {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -10%;
    margin-left: 14%;
}

#tareass a {
    text-decoration: none;
}

#tareass p {
    flex: 1 1 30%;
    margin: 0;
    text-align: center;
    border: 2px solid #165851;
    color: #18574F;
    border-color: transparent;
}

#pruebasCursos {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten a la siguiente fila si es necesario */
    gap: 10px;
    width: 80%;
    /* Espacio entre los elementos */
}

#pruebasCursos a {
    text-decoration: none;
}

#pruebasCursos p {
    flex: 1 1 30%;
    /* Cada <p> ocupa el 30% del ancho del contenedor */
    margin: 0;
    /* Elimina el margen predeterminado de los <p> */
    text-align: center;
    border: 2px solid #165851;
    color: #18574F;
    border-color: transparent;
    /* Centra el texto dentro del <p> */
}

#totaldatos {
    font-size: 20px;
    margin-left: 2%;
    color: #18574F;
}

#menus {
    position: absolute;
    width: 25%;
    top: 57%;
    border-radius: 10px;
    left: 70%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#imagenRecursos img {
    width: 20%;
    margin-left: 20px;
}

#imagenMateriales img {
    width: 20%;
    margin-left: 20px;
}

#imagenTareas img {
    width: 20%;
    margin-left: 20px;
}

#imagenPruebas img {
    width: 20%;
    margin-left: 20px;
}

#imagenAsistencia img {
    width: 20%;
    margin-left: 20px;
}

#imagenObservacion img {
    width: 20%;
    margin-left: 20px;
}

#imagenCurricular img {
    width: 20%;
    margin-left: 20px;
}

#recursos,
#materiales,
#Tareas,
#Pruebas,
#asistencia,
#ObservacionesValoración,
#contenidoCurricular {
    width: 100%;
    height: 70px;
    
}

#boton {
    margin-top: -50px;
    margin-left: 45%;
}

#boton button {
    width: 90%;
    font-size: 15px;
    background-color: transparent;
    border: 3px solid #F39325;
    border-radius: 10px;
}

#contenedorBotonPanico {
    position: absolute;
    left: 70%;
    top: 148%;
    width: 20%;
    height: 40%;
    background-color: red;
    border-radius: 50%;
}

#contenedorBotonPanico button {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}

#calendarios {
    position: absolute;
    left: 70%;
    background-color: white;
    top: 192%;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas para los días de la semana */
    gap: 2px;
    font-family: Arial, sans-serif;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#disponibilidad {
    width: 100%;
    height: 30px;
}

#verde{
    width: 20%;
}

#verde h1 {
    width: 20%;
    background-color: green;
    height: 15px;
}

#verde p{
    position: absolute;
    top: 2%;
    left: 6%;
}

#naranja{
    width: 20%;
    position: absolute;
    left: 34%;
    top: 0%;
}

#naranja h1 {
    width: 20%;
    background-color: green;
    height: 15px;
}

#naranja p{
    position: absolute;
    top: 15%;
    left: 24%;
}

#naranja h1 {
    width: 20%;
    background-color: #F39325;
    height: 15px;
}

#rojo{
    width: 35%;
    position: absolute;
    left: 61%;
    top: 0%;
}

#rojo h1 {
    width: 12%;
    background-color: red;
    height: 15px;
}

#rojo p{
    position: absolute;
    top: 14%;
    left: 16%;
}

.calendar-day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

.calendar-day.highlight {
    background-color: red; /* Color para los días resaltados */
    font-weight: bold;
}

#fehcaInit,
#fehcaFin{
    display: none;
}