#contenedor {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
}

#fondo {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 165%;
}

#fondo img {
    width: 100%;
    height: 165%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#datosCurso {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 10%;
    left: 0%;
}

#fondoVerde {
    width: 65%;
    height: 50%;
    background-color: #147582;
    position: absolute;
    top: 3%;
    left: 2%;
    border-radius: 10px;
}

#foto {
    position: absolute;
    width: 30%;
    height: 90%;
    top: 5%;
    left: 2%;
}

#foto img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#direccion {
    position: absolute;
    width: 63%;
    height: 40%;
    top: 17%;
    left: 35%;
}

#direccion #ubicacion {
    display: none;
}

#direccion #map {
    width: 100%;
    height: 100%;
}

#Nombre {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: center;
    top: 1%;
    font-size: 15px;
}

#tipoDeCurso {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: left;
    top: 57%;
    font-size: 20px;
    margin-left: 1%;
}

#adactacion {
    position: absolute;
    left: 35%;
    width: 64%;
    text-align: left;
    top: 67%;
    font-size: 20px;
    margin-left: 1%;
}

#video {
    position: absolute;
    left: 68%;
    width: 30%;
    height: 100%;
    top: 2%;
    border-radius: 10px;
}

#video video {
    width: 100%;
    height: 312px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#cuadros2 {
    width: 65%;
    position: absolute;
    left: 2%;
    top: 57%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#descripcion1 {
    width: 100%;
    height: 100px;
    margin-top: -2.5%;
    border-radius: 10px;
    text-align: left;
    font-size: 17px;
}

#descripcion1 h1 {
    color: #18574F;
    margin-left: 1%;
    margin-top: 4%;
}

#descripcion1 p {
    margin-left: 3%;
}

#contenedordocentess {
    width: 100%;
    height: 190px;
}

#docentess {
    width: 94%;
    height: 100%;
    margin-left: 5%;
}

#docentess img {
    width: 16%;
    margin-top: 1.5%;
    margin-left: 1%;
    border-radius: 50%;
}

#docentess h1 {
    margin-top: -18%;
    margin-left: 22%;
    font-size: 20px;
    color: #F39325;
}

#docentess p {
    width: 77%;
    height: 73%;
    margin-left: 23%;
    margin-top: 0%;
    font-size: 20px;
}

#aprobadoss {
    width: 5%;
    margin-top: -5%;
    margin-left: 5%;
}

#temario {
    width: 100%;
    margin-left: 1%;
    text-align: left;
}

#tituloTemario {
    font-size: 20px;
}

#moduloTotal {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten a la siguiente fila si es necesario */
    gap: 10px;
    /* Espacio entre los elementos */
}

#moduloTotal p {
    flex: 1 1 30%;
    /* Cada <p> ocupa el 30% del ancho del contenedor */
    margin: 0;
    /* Elimina el margen predeterminado de los <p> */
    text-align: center;
    /* Centra el texto dentro del <p> */
}

#cupos {
    font-size: 20px;
    margin-left: 1%;
    margin-top: 3%;
}

#modalidad {
    display: none;
}

#curso {
    display: none;
}

#Modalidad {
    width: 33%;
    margin-left: 1%;
    font-size: 20px;
}

#Curso {
    width: 33%;
    margin-left: 33%;
    margin-top: -12.5%;
    font-size: 20px;
}

#Edad {
    width: 33%;
    margin-left: 65%;
    font-size: 20px;
    margin-top: -12.5%;
}

#presencial p,
#Virtual p,
#Cursos p,
#Chouching p {
    margin-top: -18%;
    margin-left: 37%;
}

#imagenPresencial img,
#Virtual img,
#Cursos img,
#Chouching img,
#imageEdad img {
    width: 35%;
}

#edad {
    margin-top: -51%;
    margin-left: 46%;
}

#recursoss {
    width: 40%;
    background-image: linear-gradient(to top, #177483 32%, #004D77 100%);
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 1%;
    font-size: 20px;
    color: white;
}

#Materiales {
    width: 40%;
    background-image: linear-gradient(to top, #177483 32%, #004D77 100%);
    margin-top: -39%;
    border-radius: 10px;
    margin-left: 59%;
    font-size: 20px;
    color: white;
}

#recursoss p,
#Materiales p {
    font-size: 25px;
    padding-top: 5%;
    margin-left: 11%;
}

#listaRecursoss,
#materialesCurso {
    margin-top: -25%;
    margin-left: 41%;
}

#imagenRecurso img,
#imagenRecurso img {
    width: 20%;
    margin-left: 1%;
}

#tareasss {
    margin-top: 35%;
    margin-left: 1%;
    font-size: 20px;
}

#Pruebass {
    margin-top: 10%;
    width: 100%;
    font-size: 20px;
    margin-left: 1%;
}

#imagenTareas img {
    width: 10%;
}

#imagenPruebas img {
    width: 10%;
}

#tareass {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten a la siguiente fila si es necesario */
    gap: 10px;
    /* Espacio entre los elementos */
}

#tareass p {
    flex: 1 1 30%;
    /* Cada <p> ocupa el 30% del ancho del contenedor */
    margin: 0;
    /* Elimina el margen predeterminado de los <p> */
    text-align: center;
    width: 20%;
    border: 2px solid #165851;
    color: #18574F;
    /* Centra el texto dentro del <p> */
}

#pruebasCursos {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten a la siguiente fila si es necesario */
    gap: 10px;
    width: 80%;
    /* Espacio entre los elementos */
}

#pruebasCursos p {
    flex: 1 1 30%;
    /* Cada <p> ocupa el 30% del ancho del contenedor */
    margin: 0;
    /* Elimina el margen predeterminado de los <p> */
    text-align: center;
    width: 20%;
    border: 2px solid #165851;
    color: #18574F;
    /* Centra el texto dentro del <p> */
}

#totaldatos {
    font-size: 20px;
    margin-left: 2%;
    color: #18574F;
}

#menus{
    position: absolute;
    width: 16%;
    top: 57%;
    border-radius: 10px;
    left: 68%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#imagenRecursos img {
    width: 25%;
}

#imagenMateriales img{
    width: 25%;
}

#imagenTareas img{
    width: 25%;
}

#imagenPruebas img{
    width: 25%;
}

#imagenAsistencia img{
    width: 25%;
}

#imagenObservacion img{
    width: 25%;
}

#imagenCurricular img{
    width: 25%;
}

#recursos,
#materiales,
#Tareas,
#Pruebas,
#asistencia,
#ObservacionesValoración,
#contenidoCurricular {
    width: 100%;
    height: 70px;
}

#boton {
    margin-top: -37px;
    margin-left: 45%;
}

#boton button {
    width: 90%;
    font-size: 15px;
    background-color: transparent;
    border: 3px solid #F39325;
    border-radius: 10px;
}

#contenedorBotonPanico {
    position: absolute;
    left: 70%;
    top: 148%;
    width: 20%;
    height: 40%;
    background-color: red;
    border-radius: 50%;
}

#contenedorBotonPanico button{
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}