<link rel="stylesheet" href="/css/recours/add.css">
{{#each listaCurso}}
<form action="/tareas/clase/{{idCours}}" method="post">
    {{/each}}
    <div class="bg-fondo pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    {{#each MaximoCurso}}
                    <h5 class="text-center fs-2 fw-bold mb-3" style="color: #f39325;">Agregar Tarea <input type="text"
                            name="idTask" id="numero" value="{{Maximo}}"></h5>
                    {{/each}}
                    <div class="card mb-4 text-white text-center shadow"
                        style="background: linear-gradient(to bottom, #014f78, #167283);">
                        <div class="card-body">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                            <div class="mb-4">
                                <label class="form-label fs-5 m-0">Nombre Tarea</label>
                                <input type="text" class="form-control border-warning border-2" name="nameTask"
                                    id="nameTask" required>
                            </div>

                            <div class="mb-4">
                                <label class="form-label fs-5 m-0">Descripcion del Tarea</label>
                                <textarea rows="3" type="text" class="form-control border-warning border-2"
                                    name="descriptionTask" id="descriptionTask" required></textarea>
                            </div>

                            <div class="mb-4">
                                <label class="form-label fs-5 m-0">Fecha máxima de entrega</label>
                                <input type="date" class="form-control border-warning border-2" name="fechaEntrega"
                                    id="fechaEntrega" required>
                            </div>

                            <button class="py-2" style="background-color: #f39325; border-radius:10px;"
                                type="submit"><span class="px-4 mx-3">Guardar</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>