<link rel="stylesheet" href="">
<div id="contenedor">
    <div id="datos">
        <div id="titulo">
            <h1>Subir Tarea de {{nameTask}}</h1>
        </div>
        <div id="subri">
            <input type="file" name="" id="subir">
        </div>
        <div id="boton">
            <button type="submit">Entregar Tarea</button>
        </div>
    </div>
</div>