<link rel="stylesheet" href="">
<div id="contenedor">
    <div id="datos">
        <div class="row">
            <div id="tarjetas">
                <p>Tarea</p>
                <p>{{}}</p>
                <p>{{}}</p>
                <div id="subirTarea">
                    <a href="/task/curso/{{idTask}}"><button type="button">Actualizar</button></a>
                </div>
            </div>
        </div>
    </div>
</div>