<link rel="stylesheet" href="">
<div id="contenedor">
    <div id="titulo">
        <h1>Prueba</h1>
    </div>
    <div id="preguntas">
        <p>Pregunta:</p>
        <input type="text" name="questionAsk" id="questionAsk">
    </div>
    <div id="respuesta">
        <p>Respuesta:</p>
        <input type="text" name="aswerns" id="aswerns">
    </div>
    <div id="tiempo">
        <p>Tiempo de duracion:</p>
        <input type="text" name="timeAswerns" id="timeAswerns">
    </div>
    <div id="sobre">
        <p>Porcentaje de Valor de Prueba:</p>
        <input type="text" name="valueResult" id="valueResult">
    </div>
</div>