<link rel="stylesheet" href="/css/contactos.css">
<div id="contenedor">
    <div id="contactosVista">
        <h1>Contactos</h1>
        <p>Estamos aquí para ayudarte. ¡Escríbenos si tienes preguntas o necesitas asistencia!</p>
        <div id="numeros">
            <img src="/img/icons/contactosVista.png">
        </div>
        <div id="datosNumeros">
            <div id="celular">
                <h1>Teléfonos</h1>
                <p>0962900677<br>
                    Movistar</p>
            </div>
            <div id="direcciones">
                <h1>Dirección</h1>
                <p>República del Salvador y Suecia</p>
            </div>
            <div id="correos">
                <h1>Correo electrónico</h1>
                <p>educonecta2@gmail.com</p>
            </div>
        </div>
        <div id="envioDatos">
            <h1>Escríbenos</h1>
            <div id="nombre">
                <p>Nombre</p>
                <input type="text" name="" id="">
            </div>
            <div id="Teléfono">
                <p>Teléfono</p>
                <input type="text" name="" id="">
            </div>
            <div id="cORREO">
                <p>Correo electrónico</p>
                <input type="text" name="" id="">
            </div>
            <div id="mensjaes">
                <p>Mensaje</p>
                <textarea name="" id=""></textarea>
            </div>
            <div id="botonEnviar">
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>
    <div id="imagenPreguntas">
        <img src="/img/icons/frecuetes.png">
    </div>
</div>


<div id="footer">
    <div id="tarjetaNosotros">
        <div id="nosotrosFooter">
            <h1>Nosotros</h1>
        </div>
        <div id="datosNosotros">
            <a href="" style="text-decoration: none;">
                <p>¿Quiénes Somos?<br>
            </a>
            <br>
            <br>
            <a href="/somos" style="text-decoration: none;">¿Cómo funciona?</a><br>
            <br>
            <br>
            <a href="/" style="text-decoration: none;">Testimonios</a><br>
            <br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Preguntas frecuentes</a><br>
            <br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Contacto</a></p>
        </div>
    </div>
    <div id="tarjetaUnete">
        <div id="nosotrosFooter">
            <h1>Únete</h1>
        </div>
        <div id="datosNosotros">
            <a href="/RegisterStudents" style="text-decoration: none;">
            <p>Regístrate como estudiante</a> <br>
                <br>
                <br>
                <a href="/RegisterTeachers" style="text-decoration: none;">Sé docente o coach</a>
            </p>
        </div>
    </div>
    <div id="tarjetaLegal">
        <div id="nosotrosFooter">
            <h1>Legal</h1>
        </div>
        <div id="datosNosotros">
            <a href="/seguridad" style="text-decoration: none;">
            <p>Términos y condiciones</a> <br>
                <br>
                <br>
                <a href="/seguridad" style="text-decoration: none;">Políticas de privacidad</a> 
            </p>
        </div>
    </div>
    <div id="logoImagen">
        <img src="/img/logo/LogoPrincipal.png">
    </div>
    <div id="final">
        <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>