<link rel="stylesheet" href="/css/funciona.css">
<div id="contenedor">
    <div id="estudiantesFunciona">
        <h1>¿Cómo funciona?</h1>
        <p>Todo lo que debes saber para aprovechar al máximo nuestros servicios.</p>
        <img src="/img/icons/estudianteFunciona.png">
    </div>
    <div id="docentesFunciona">
        <img src="/img/icons/docenteFunciona.png">
    </div>
    <div id="importante">
        <img src="/img/icons/importante.png">
        <p>Se deducirá un único cargo de $15 de tu primera clase como inscripción a esta tu plataforma. Recuerda esto se realizará por ¡una sola vez!</p>
    </div>
    <div id="calidificacion">
        <h1>Calificación o reseñas</h1>
        <p>Al finalizar tu servicio, recuerda calificar y escribir tus experiencias con la plataforma. <br>
        <span class="highlight">¡Te esperamos!</span></p>
        <img src="/img/icons/calificacion.png">
    </div>
</div>

<div id="footer">
    <div id="tarjetaNosotros">
        <div id="nosotrosFooter">
            <h1>Nosotros</h1>
        </div>
        <div id="datosNosotros">
            <a href="" style="text-decoration: none;">
                <p>¿Quiénes Somos?<br>
            </a>
            <br>
            <a href="/somos" style="text-decoration: none;">¿Cómo funciona?</a><br>
            <br>
            <a href="/" style="text-decoration: none;">Testimonios</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Preguntas frecuentes</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Contacto</a></p>
        </div>
    </div>
    <div id="tarjetaUnete">
        <div id="nosotrosFooter">
            <h1>Únete</h1>
        </div>
        <div id="datosNosotros">
            <a href="/RegisterStudents" style="text-decoration: none;">
                <p>Regístrate como estudiante
            </a> <br>
            <br>
            <a href="/RegisterTeachers" style="text-decoration: none;">Sé docente o coach</a>
            </p>
        </div>
    </div>
    <div id="tarjetaLegal">
        <div id="nosotrosFooter">
            <h1>Legal</h1>
        </div>
        <div id="datosNosotros">
            <a href="/seguridad" style="text-decoration: none;">
                <p>Términos y condiciones
            </a> <br>
            <br>
            <a href="/seguridad" style="text-decoration: none;">Políticas de privacidad</a>
            </p>
        </div>
    </div>
    <div id="logoImagen">
        <img src="/img/logo/LogoPrincipal.png">
    </div>
    <div id="final">
        <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>