<link rel="stylesheet" href="/css/funciona.css">
<div class="mt-4">
    <div class="text-center container-sm rounded-2">
        <h1 style="color: #f49426;">¿Cómo funciona?</h1>
        <h4>Todo lo que debes saber para aprobechar al máximo nuestros servicios.</h4>
        <div class="col-12 text-white shadow rounded-3 py-2" style="background-color: #f49426;">
            <h3 class="p-t m-0">Estudiantes <img style="width: 30px;" src="/img/icons/estudianteperfilTarjeta.png"></h3>
        </div>
    </div>

    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-4 pt-4 pb-1 justify-content-center">
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow  w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/busca2.png" class="card-img-top" alt="Clase Particular"
                        style="width: 60%; display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4  text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">1 Busca</h5>
                        <p class="card-text">Puedes iniciar con el registro gratuito o buscando según tus criterios
                            ¿Tenemos
                            un amplio catalógo, para ti!</p>
                    </div>
                </div>
            </div>
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/elige.png" class="card-img-top" alt="Clases grupales"
                        style="width: 60%;  display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">2 Elige</h5>
                        <p class="card-text">Elige el servicio que más se adapte a tus necesidades.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/reserva.png" class="card-img-top" alt="Cursos"
                        style="width: 50%; display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">3 Reserva</h5>
                        <p class="card-text">Reserva tu servicio y agéndalo en tu calendario de preferencia según tu
                            ubicación.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/paga.png" class="card-img-top py-3" alt="Coaching"
                        style="width: 60%; display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">4 Paga</h5>
                        <p class="card-text">Paga por tu servicio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-4 pb-4">
        <div class="col-9 col-md-9">
            <div class="card shadow border-3 rounded-4" style="border-color: #f49426;">
                <div class="card-body rounded-top-4 pb-2 text-center p-1" style="background-color: #feedd9;">
                    <h5 style="color: #215f59;" class="card-title pt-1">5 Ingresa</h5>
                    <p class="card-text">Ingresa a tu plataforma y disfruta del servicio.</p>
                </div>
                <img src="/img/icons/ingresa.png" class="card-img-top rounded-bottom-4" alt="Clase Particular">
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <div class="text-center container-sm rounded-2">
        <div class="col-12 text-white shadow rounded-3 py-2" style="background-color: #004d77;">
            <h3 class="p-t m-0">Docentes/Coaches <img style="width: 30px;" src="/img/icons/docenteperfilTarjeta.png">
            </h3>
        </div>
    </div>

    <!-- Fila 1 -->
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-3 pt-4 pb-1 justify-content-center">
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/registro2.png" class="card-img-top py-2" alt="Clase Particular"
                        style="width: 60%; display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4  text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">1 Registro</h5>
                        <p class="card-text">Ve al apartado de registro y llena todos tus datos.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/requisitos.png" class="card-img-top" alt="Clases grupales"
                        style="width: 60%;  display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">2 Requisitos y documentos</h5>
                        <p class="card-text">Sube todos los requisitos solicitados, tu CV, certificacones y más.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/aprobacion.png" class="card-img-top py-2" alt="Cursos"
                        style="width: 70%; display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">3 Aprobación</h5>
                        <p class="card-text">Nuestro equipo analizará tu postulación. Si recibes la notificación de
                            aprobación de nuestro equip, puedes continuar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fila 2 -->
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-3 pb-1 justify-content-center">
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/elige.png" class="card-img-top py-1" alt="Clase Particular"
                        style="width: 60%; display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4  text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">4 Elige</h5>
                        <p class="card-text">Elige tu mejor servicio: clases particulares, grupales, cursos o coaching.
                            Puedes elegir más de una opción.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/crea.png" class="card-img-top py-1" alt="Clases grupales"
                        style="width: 50%;  display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">5 Crea</h5>
                        <p class="card-text">Llena todos los datos concernientes a tu servicio y envíalo para su
                            revisión.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-2 d-flex justify-content-center">
                <div class="card shadow w-75 h-auto border-3 rounded-4" style="border-color: #f49426;">
                    <img src="/img/icons/servicio.png" class="card-img-top" alt="Cursos"
                        style="width: 50%; display: block; margin: 0 auto;">
                    <div class="card-body rounded-bottom-4 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-1">6 Servicio en revisión</h5>
                        <p class="card-text">Una vez revisado y aprobado tu servicio podrás avanzar sin problemas.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fila 3 -->
        <div class="d-flex justify-content-center">
            <div class="col-9 col-md-9">
                <div class="card shadow border-3 rounded-4" style="border-color: #f49426;">
                    <div class="card-body rounded-top-4 pb-2 text-center p-1" style="background-color: #feedd9;">
                        <h5 style="color: #215f59;" class="card-title pt-2">7 !Listo para comenzar e inspirar!</h5>
                    </div>
                    <img src="/img/icons/listo.png" class="card-img-top rounded-bottom-4" alt="Clase Particular">
                </div>
            </div>
        </div>

    </div>
    <div class="mt-2" style="background-color: #f49426;">
        <div class="container-sm ">
            <div class="row align-items-center">
                <div class="col-12 col-md-2 d-flex flex-column align-items-center justify-content-center text-white">
                    <i class="bi bi-exclamation-square-fill" style="font-size: 4rem;"></i>
                    <h3 class="mt-0">Importante</h3>
                </div>

                <div class="col-12 col-md-10">
                    <h5>Se deducirá un único cargo de $15 de tu primera clase como inscripción a esta tu plataforma.
                        Recuerda esto se realizará por ¡una sola vez!</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-4"><br>
    <div class="text-center container-sm rounded-2 mt-4">
        <h1 style="color: #f49426;">Calificación o reseñas</h1>
        <h4>Al finalizar tu servicio, recuerda calificar y escribir tus experiencias con la plataforma.</h4>
        <h4 class="fw-bold">¡Te esperamos!</h4>
    </div>
    <div class="position-relative bg-fondo text-white">
        <div class="position-absolute top-0 start-50 translate-middle-x mt-3 container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="rounded-3 m-3 p-2 d-flex align-items-center justify-content-center"
                        style="background-color: #f49426; border: 2px solid white;">
                        <h4 class="p-1 mb-0 mx-3 text-white">Estudiante
                            <img style="width: 30px;" src="/img/icons/estudianteperfilTarjeta.png">
                        </h4>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="rounded-3 m-3 p-2 d-flex align-items-center justify-content-center"
                        style="background-color: #004d77; border: 2px solid white;">
                        <h4 class="p-1 mb-0 mx-3 text-white">Docente/Coach
                            <img style="width: 30px;" src="/img/icons/docenteperfilTarjeta.png">
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="p-5" style="background-color: #fff9f0;">
        <div class="row">
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Nosotros</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/somos">
                        <p>¿Quiénes Somos?
                    </a>
                    <a href="/somos">¿Cómo funciona?</a><br>
                    <br>
                    <a href="/">Testimonios</a><br>
                    <br>
                    <a href="/contactos">Preguntas frecuentes</a><br>
                    <br>
                    <a href="/contactos">Contacto</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Únete</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/RegisterStudents">
                        <p>Regístrate como estudiante
                    </a>
                    <a href="/RegisterTeachers">Sé docente o coach</a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Legal</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/policyList">
                        <p>Términos y condiciones
                    </a>
                    <a href="/policyList">Políticas de privacidad</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="d-flex justify-content-center">
                    <div class="qr-placeholder"></div>
                    <div class="qr-placeholder"></div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/img/logo/LogoPrincipal.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div style="background-color: #fbf1e3; color: #236388;" class="p-3">
        <div class="d-flex justify-content-between align-items-center mx-3">
            <p class="fs-5 m-0 text-start">Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
            <p class="fs-5 m-0 text-end">ProfeGo® EDUCONECTA S.A.S</p>
        </div>
    </div>
</div>