<link rel="stylesheet" href="/css/inicio.css">
<div id="contenedor">
    <div id="primerTitulo">
        <h1>La mejor educación a tu alcance en </h1>
        <p>¡Explora, aprende e inspira!</p>
    </div>
    <div id="Clases">
        <div id="datos">
            <h1>Clases</h1>
            <p>Individuales <br>
                Grupales</p>
        </div>
        <div id="imagenClases">
            <img src="/img/icons/">
        </div>
    </div>
    <div id="Cursos">
        <div id="datos">
            <h1>Cursos</h1>
        </div>
        <div id="imagenCurso">
            <img src="/img/icons/">
        </div>
    </div>
    <div id="Coaching">
        <div id="datos">
            <h1>Coaching para docentes</h1>
        </div>
        <div id="imagenCouching">
            <img src="/img/icons/">
        </div>
    </div>
    <div id="buscador">
        
    </div>
</div>