<link rel="stylesheet" href="/css/seguridad.css">
<div class="mt-4">
    <div class="text-center container-sm rounded-2">
        <h2 style="color: #f49426;">Nuestra seguridad</h2>
        <h5>Estamos comprometidos con la seguridad de nuestra comunidad. <br>
            ¡Descubre cómo lo logramos!</h5>
    </div>
    <div class="container-fluid">
        <div class="row pt-2 pb-1 justify-content-center">
            <div class="col-12 col-md-4 mb-2">
                <div class="card p-0 shadow mb-3 border-0 rounded-4">
                    <div class="row g-0">
                        <div class="col-md-4 rounded-start-4 no-rounded-sm p-2 text-white d-flex flex-column align-items-center justify-content-center text-center"
                            style="background-color: #147582;">
                            <img src="/img/icons/conetenido1.png" class="img-fluid">
                            <h5 class="mt-2">Docentes verificados</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body m-0 rounded-end-4 no-rounded-sm d-flex flex-column align-items-center justify-content-center"
                                style="background-color:#FCEED9; text-wrap: balance;">
                                <h5 class="card-title">Sistema minucioso de registro y contratación de docentes y
                                    coaches
                                    con la <span class="fw-bold">comprobación
                                        de CVs, antecedentes y documentación</span> proporcionada por los mismos.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card p-0 shadow mb-3 border-0 rounded-4">
                    <div class="row g-0">
                        <div class="col-md-4 rounded-start-4 no-rounded-sm p-2 text-white d-flex flex-column align-items-center justify-content-center text-center"
                            style="background-color: #147582;">
                            <i class="bi bi-coin" style="font-size: 5rem;"></i>
                            <h5 class="mt-2">Pagos seguros</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body m-0 rounded-end-4 no-rounded-sm d-flex flex-column align-items-center justify-content-center"
                                style="background-color:#FCEED9; text-wrap: balance;">
                                <h5 class="card-title">Nos compremetemos a proteger tus pagos y datos personales con la
                                    mas <span class="fw-bold">alta seguridad.</span> Además, garantizamos reembolsos en
                                    caso de no recibir el
                                    servicio reservado.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card p-0 shadow mb-3 border-0 rounded-4">
                    <div class="row g-0">
                        <div class="col-md-4 rounded-start-4 no-rounded-sm p-2 text-white d-flex flex-column align-items-center justify-content-center text-center"
                            style="background-color: #147582;">
                            <i class="bi bi-headset" style="font-size: 5rem;"></i>
                            <h5 class="mt-2">Soporte continuo</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body m-0 rounded-end-4 no-rounded-sm d-flex flex-column align-items-center justify-content-center"
                                style="background-color:#FCEED9; text-wrap: balance;">
                                <h5 class="card-title">Ofrecemos un soporte continuo integral para asegurar una
                                    experiencia satisfactoria y segura en todos los aspectos. Recuerda: Estamos aquí
                                    para escucharte y mejorar. <span class="fw-bold">¡Tu satisfacción es nuestra
                                        prioridad!</span> </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-2 mb-3">
    <div class="text-center container-sm rounded-2">
        <h2 style="color: #f49426;">Concejos para servicio a domicilio o presencial</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-5 mx-3 mb-3 rounded-4 no-rounded-sm"
            style="border: 1px solid #ffffff; overflow: hidden;">
            <h3 class="pt-1 ps-1" style="color: #155750;">Docentes/Coaches</h3>
            <img src="/img/icons/consejoDocenete.png" class="img-fluid">

            <div class="row">
                <div class="col-12 col-md-2" style="background-color: #004d77;"></div>
                <div class="col-12 col-md-10" style="background-color: #faecdc;">
                    <p class="p-2">Revisar los datos de los docentes o coaches proporcionados por ProfeGo y, en caso de
                        ser
                        necesario, solicitar una videollamada con el docente antes de la primera visita. En el caso de
                        los menores de 18 años, proporcionar un lugar adecuado, cómodo y abierto para el servicio como
                        el comedor, la sala de estar, el estudio o un espacio previamente adaptado para el proceso de
                        enseñanza-aprendizaje. Comunicar si existe algún inconveniente o situación incómoda con los
                        docentes o coaches. Si existe una situación peligrosa o de emergencia, presionar el botón de
                        pánico. Evitar compartir y solicitar información muy personal adicional a la que ProfeGo
                        recopiló de los profesionales, el contacto con los docentes y coaches es 100% profesional.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 mx-3 mb-3 rounded-4 no-rounded-sm"
            style="border: 1px solid #ffffff; overflow: hidden;">
            <h3 class="pt-1 ps-1" style="color: #155750;">Estudiantes</h3>
            <img src="/img/icons/consejoEstudiante.png" class="img-fluid">

            <div class="row">
                <div class="col-12 col-md-2" style="background-color: #f49426;"></div>
                <div class="col-12 col-md-10" style="background-color: #faecdc;">
                    <p class="p-2">Revisar los datos de los docentes o coaches proporcionados por ProfeGo y, en caso de
                        ser
                        necesario, solicitar una videollamada con el docente antes de la primera visita. En el caso de
                        los menores de 18 años, proporcionar un lugar adecuado, cómodo y abierto para el servicio como
                        el comedor, la sala de estar, el estudio o un espacio previamente adaptado para el proceso de
                        enseñanza-aprendizaje. Comunicar si existe algún inconveniente o situación incómoda con los
                        docentes o coaches. Si existe una situación peligrosa o de emergencia, presionar el botón de
                        pánico. Evitar compartir y solicitar información muy personal adicional a la que ProfeGo
                        recopiló de los profesionales, el contacto con los docentes y coaches es 100% profesional.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 d-flex align-items-center justify-content-center">
    <div class="rounded-4" style="background-color: #f49426; max-width: 90%; overflow: hidden;">
        <div class="row align-items-center text-center">
            <div class="col-12 col-md-7 d-flex align-items-center justify-content-center p-0">
                <img src="/img/icons/politicaPrivacidad.png" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>

            <div class="col-12 col-md-5 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="text-white">
                    <h2>Políticas de Privacidad</h2>
                    <h4>Te invitamos a revisar nuestras políticas de privacidad para conocer cómo protegemos tu
                        información.</h4>
                    <a href="/policyList">
                        <button type="button" class="btn text-white btn-lg px-4 py-2"
                            style="background-color: #054c74; font-size: 1.2rem;">
                            ¡Entérate aquí!
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4" style="background-color:#FCEED9;">
    <div class="my-4" style="background-color: #55888a;">
        <div class="container-sm">
            <div class="row align-items-center justify-content-center text-white">
                <h2 class="text-center my-5">Términos y Condiciones</h2>
            </div>
        </div>
    </div>

    <div class="container-sm">
        <div class="row pt-2 pb-1 justify-content-center">
            <div class="col-12 col-md-4 mb-2">
                <div class="card p-0 mb-3 border-0 rounded-4" style="background-color:#FCEED9;">
                    <img src="/img/icons/generales.png" class="img-fluid rounded-4">
                    <div class="card-body m-0 d-flex flex-column align-items-stretch justify-content-center">
                        <a href="/policyList">
                            <button type="button" class="btn text-white btn-lg px-4 py-2 w-100"
                                style="background-color: #165851; font-size: 1.2rem;">
                                <h4 class="m-0">Generales</h4>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card p-0 mb-3 border-0 rounded-4" style="background-color:#FCEED9;">
                    <img src="/img/icons/condiciones.png" class="img-fluid rounded-4">
                    <div class="card-body m-0 d-flex flex-column align-items-stretch justify-content-center">
                        <a href="/policyList">
                            <button type="button" class="btn text-white btn-lg px-4 py-2 w-100"
                                style="background-color: #004d77; font-size: 1.2rem;">
                                <h4 class="m-0">Condiciones de uso para docentes</h4>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card p-0 mb-3 border-0 rounded-4" style="background-color:#FCEED9;">
                    <img src="/img/icons/condicionese.png" class="img-fluid rounded-4">
                    <div class="card-body m-0 d-flex flex-column align-items-stretch justify-content-center">
                        <a href="/policyList">
                            <button type="button" class="btn text-white btn-lg px-4 py-2 w-100"
                                style="background-color: #f29224; font-size: 1.2rem;">
                                <h4 class="m-0">Condiciones de uso para docentes</h4>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-5" style="background-color: #fff9f0;">
    <div class="row">
        <div class="col-md-2">
            <div style="color: #236388;">
                <h1 class="mb-0">Nosotros</h1>
                <hr class="linea mt-0">
            </div>
            <div class="lh-1">
                <a href="/somos">
                    <p>¿Quiénes Somos?
                </a>
                <a href="/somos">¿Cómo funciona?</a><br>
                <br>
                <a href="/">Testimonios</a><br>
                <br>
                <a href="/contactos">Preguntas frecuentes</a><br>
                <br>
                <a href="/contactos">Contacto</a></p>
            </div>
        </div>
        <div class="col-md-2">
            <div style="color: #236388;">
                <h1 class="mb-0">Únete</h1>
                <hr class="linea mt-0">
            </div>
            <div class="lh-1">
                <a href="/RegisterStudents">
                    <p>Regístrate como estudiante
                </a>
                <a href="/RegisterTeachers">Sé docente o coach</a>
                </p>
            </div>
        </div>
        <div class="col-md-2">
            <div style="color: #236388;">
                <h1 class="mb-0">Legal</h1>
                <hr class="linea mt-0">
            </div>
            <div class="lh-1">
                <a href="/policyList">
                    <p>Términos y condiciones
                </a>
                <a href="/policyList">Políticas de privacidad</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="d-flex justify-content-center">
                <div class="qr-placeholder"></div>
                <div class="qr-placeholder"></div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="/img/logo/LogoPrincipal.png" class="img-fluid">
        </div>
    </div>
</div>

<div style="background-color: #fbf1e3; color: #236388;" class="p-3">
    <div class="d-flex justify-content-between align-items-center mx-3">
        <p class="fs-5 m-0 text-start">Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p class="fs-5 m-0 text-end">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>