<link rel="stylesheet" href="/css/seguridad.css">
<div id="contenedor">
    <div id="Nuestra">
        <h1>Nuestra seguridad</h1>
        <p>Estamos comprometidos con la seguridad de nuestra comunidad. <br>
            ¡Descubre cómo lo logramos!</p>
        <img src="/img/icons/seguridadNuestra.png">
    </div>

    <div id="consejosServicios">
        <h1>Consejos para servicio a domicilio o presencial</h1>
        <div id="docentesConsejo">
            <h1>Docentes/Coaches</h1>
            <img src="/img/icons/consejoDocenete.png">
        </div>
        <div id="estudiantesConsejos">
            <h1>Estudiantes</h1>
            <img src="/img/icons/consejoEstudiante.png">
        </div>
    </div>
    <div id="politicasPrivacidad">
        <a href=""><img src="/img/icons/politicaPrivacidad.png"></a>
    </div>
    <div id="terminosCondiciones">
        <a href=""><img src="/img/icons/terminosCondiciones.png"></a>
    </div>
</div>
<div id="footer">
    <div id="tarjetaNosotros">
        <div id="nosotrosFooter">
            <h1>Nosotros</h1>
        </div>
        <div id="datosNosotros">
            <a href="/somos" style="text-decoration: none;">
                <p>¿Quiénes Somos?
            </a>
            <a href="/somos" style="text-decoration: none;">¿Cómo funciona?</a><br>
            <br>
            <a href="/" style="text-decoration: none;">Testimonios</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Preguntas frecuentes</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Contacto</a></p>
        </div>
    </div>
    <div id="tarjetaUnete">
        <div id="nosotrosFooter">
            <h1>Únete</h1>
        </div>
        <div id="datosNosotros">
            <a href="/RegisterStudents" style="text-decoration: none;">
                <p>Regístrate como estudiante
            </a>
            <a href="/RegisterTeachers" style="text-decoration: none;">Sé docente o coach</a>
            </p>
        </div>
    </div>
    <div id="tarjetaLegal">
        <div id="nosotrosFooter">
            <h1>Legal</h1>
        </div>
        <div id="datosNosotros">
            <a href="/seguridad" style="text-decoration: none;">
                <p>Términos y condiciones
            </a>
            <a href="/seguridad" style="text-decoration: none;">Políticas de privacidad</a>
            </p>
        </div>
    </div>
    <div id="logoImagen">
        <img src="/img/logo/LogoPrincipal.png">
    </div>
    <div id="final">
        <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>