<link rel="stylesheet" href="/css/somos.css">
<div class="d-flex align-items-center justify-content-center bg-fondo">
    <div class="container-sm rounded-4 overflow-hidden"
        style="background-color: rgba(35, 99, 136, 0.9); max-width: 75%;">
        <div class="row align-items-center text-center">
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center p-2">
                <img src="/img/icons/Logoprincipal.png" class="img-fluid" style="max-width: 60%;">
            </div>

            <div class="col-12 col-md-8 d-flex flex-column align-items-center justify-content-center"
                style="background-color: rgba(255, 165, 0, 0.8);">
                <div class="text-white" style="padding: 15px; border-radius: 10px;">
                    <h1 class="mt-3">¿Quiénes somos?</h1>
                    <p class="responsive-text">
                        ProfeGo es una plataforma educativa diseñada para ofrecer una
                        amplia gama de servicios y recursos educativos en modalidades online y presencial,
                        garantizando acceso a una educación de alta calidad y adaptada a tus necesidades.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-0">
    <div class="row">
        <div class="col-12 col-md-6 pe-md-3">
            <h1>Misión</h1>
            <img src="/img/icons/mision.png" class="img-fluid mb-4">
            <p>Nuestra misión es conectar a estudiantes con docentes y coaches especialistas, integrando la tecnología y
                el toque humano a través de nuestra app. Facilitamos el acceso a los mejores educadores, tanto
                virtualmente como de manera presencial, permitiendo elegir la opción ideal entre diversos perfiles. Así
                garantizamos educación de calidad, en un entorno seguro y a precios asequibles.</p>
        </div>
        <div class="col-12 col-md-6 ps-md-3">
            <h1>Visión</h1>
            <img src="/img/icons/vision.png" class="img-fluid mb-4">
            <p>Convertirse en la plataforma líder en educación personalizada, reconocida por su innovación, excelencia y
                capacidad de adaptación a las necesidades del mercado nacional y global.</p>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center bg-fondo3 m-0 p-0">
    <div class="container-sm rounded-4 overflow-hidden">
        <div class="row align-items-center mt-4">
            <div class="col-12 col-md-7 d-flex flex-column justify-content-center pt-4 pe-4 ps-0 mx-1">
                <h1 class="text-center" style="color:#f4972c;">Nuestra historia</h1>
                <h2 class="text-center mb-0" style="color: #296259;">¿Cómo nació ProfeGo?</h2>
                <p class="text-start">
                    ProfeGo nace para atender la demanda de padres de familia y profesionales que buscan fortalecer
                    los procesos de enseñanza y aprendizaje, nuestra innovadora web y app conecta de inmediato con
                    profesores y coaches expertos en diversas disciplinas; ofreciendo soluciones personalizadas,
                    eficientes y rápidas.
                </p>
            </div>
            <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-4">
    <div class="ms-4 mb-4">
        <h1 style="color:#f4972c;">Nuestros valores</h1>
        <h2 style="color: #296259;">Descubre los principios que nos rigen</h2>
    </div>
    <div class="row justify-content-center">
        <!-- Fila 1 -->
        <div class="col-12 col-md-5 mb-1">
            <div class="d-flex align-items-center justify-content-center">
                <div class="card p-0 rounded-2 lh-1" style="max-width: 60vh; border: 4px solid #004d77;">
                    <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                        <div class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                            <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">1</h1>
                        </div>
                        <div class="col-9 col-md-10 p-0">
                            <div class="card-body pe-1">
                                <p class="fs-4 m-0" style="color: #127481;">Calidad Educativa</p>
                                <p class="m-0 p-0">Nos esforzamos por proporcionar educación de la más alta calidad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fila 2 -->
        <div class="col-12 mb-1">
            <div class="d-flex align-items-center justify-content-center">
                <div class="row w-100 justify-content-center">
                    <!-- Columna 1 -->
                    <div class="col-12 col-md-4 order-first">
                        <div class="row justify-content-center">
                            <!-- Fila 1 Columna 1 -->
                            <div class="col-12 mb-1">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="card p-0 rounded-2 lh-1"
                                        style="max-width: 60vh; border: 4px solid #004d77;">
                                        <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                                            <div
                                                class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                                                <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">2</h1>
                                            </div>
                                            <div class="col-9 col-md-10 p-0">
                                                <div class="card-body pe-1">
                                                    <p class="fs-4 m-0" style="color: #127481;">Accesibilidad</p>
                                                    <p class="m-0 p-0">Nos rige la inclusión y la equidad al ofrecer
                                                        servicios al alcance de todos.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fila 2 Columna 1 -->
                            <div class="col-12 mb-1">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="card p-0 rounded-2 lh-1"
                                        style="max-width: 60vh; border: 4px solid #004d77;">
                                        <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                                            <div
                                                class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                                                <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">3</h1>
                                            </div>
                                            <div class="col-9 col-md-10 p-0">
                                                <div class="card-body pe-1">
                                                    <p class="fs-4 m-0" style="color: #127481;">Empoderamiento</p>
                                                    <p class="m-0 p-0">Buscamos el desarrollo personal, profesional y
                                                        autonomia en nuestra comunidad.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fila 3 Columna 1 -->
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="card p-0 rounded-2 lh-1"
                                        style="max-width: 60vh; border: 4px solid #004d77;">
                                        <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                                            <div
                                                class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                                                <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">4</h1>
                                            </div>
                                            <div class="col-9 col-md-10 p-0">
                                                <div class="card-body pe-1">
                                                    <p class="fs-4 m-0" style="color: #127481;">Innovación</p>
                                                    <p class="m-0 p-0">Mejoramos y personalizamos las experiencias con
                                                        el uso de la texnología.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Columna 2 -->
                    <div class="col-12 col-md-2 d-flex justify-content-center mb-1">
                        <img src="/img/icons/valores.png" class="img-fluid d-none d-md-block">
                    </div>

                    <!-- Columna 3 -->
                    <div class="col-12 col-md-4 order-last">
                        <div class="row justify-content-center">
                            <!-- Fila 1 Columna 3 -->
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="card p-0 rounded-2 lh-1 mb-1"
                                        style="max-width: 60vh; border: 4px solid #004d77;">
                                        <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                                            <div
                                                class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                                                <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">5</h1>
                                            </div>
                                            <div class="col-9 col-md-10 p-0">
                                                <div class="card-body pe-1">
                                                    <p class="fs-4 m-0" style="color: #127481;">Integridad</p>
                                                    <p class="m-0 p-0">Actuamos con honestidad, transparencia y ética.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fila 2 Columna 3 -->
                                <div class="col-12 mb-1">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="card p-0 rounded-2 lh-1"
                                            style="max-width: 60vh; border: 4px solid #004d77;">
                                            <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                                                <div
                                                    class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                                                    <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">6</h1>
                                                </div>
                                                <div class="col-9 col-md-10 p-0">
                                                    <div class="card-body pe-1">
                                                        <p class="fs-4 m-0" style="color: #127481;">Colaboración
                                                        </p>
                                                        <p class="m-0 p-0">Fomentamos los trabajos en equipo y
                                                            desarrollamos alianzas educativas.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fila 3 Columna 3 -->
                                <div class="col-12 mb-1">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="card p-0 rounded-2 lh-1"
                                            style="max-width: 60vh; border: 4px solid #004d77;">
                                            <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                                                <div
                                                    class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                                                    <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">7</h1>
                                                </div>
                                                <div class="col-9 col-md-10 p-0">
                                                    <div class="card-body pe-1">
                                                        <p class="fs-4 m-0" style="color: #127481;">Responsabilidad
                                                            Social
                                                        </p>
                                                        <p class="m-0 p-0">Invertimos y trabajamos por mejorar la
                                                            Educación del País.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fila 3 -->
        <div class="col-12 col-md-5 mb-1">
            <div class="d-flex align-items-center justify-content-center">
                <div class="card p-0 rounded-2 lh-1" style="max-width: 60vh; border: 4px solid #004d77;">
                    <div class="row g-0 m-0 d-flex align-items-center justify-content-center">
                        <div class="col-2 col-md-1 me-1 d-flex justify-content-center align-items-center">
                            <h1 class="m-0 p-0" style="color:#f4972c; font-size: 5rem;">8</h1>
                        </div>
                        <div class="col-9 col-md-10 p-0">
                            <div class="card-body pe-1">
                                <p class="fs-4 m-0" style="color: #127481;">Pasión</p>
                                <p class="m-0 p-0">Inspirar el amor por el conocimiento y la educación continua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-0 m-0 position-relative bg-fondo2">
    <div class="row mx-0 position-absolute top-50 start-50 translate-middle text-center w-100 container-fluid">
        <div class="col-12 col-md-5 d-flex align-items-center px-4 m-0">
            <div class="text-center text-white">
                <h1>¿Por qué elegir a ProfeGo?</h1>
                <h4>Aprendizaje flexible, asequible y seguro con los mejores docentes y coaches.</h4>
            </div>
        </div>

        <div class="col-12 col-md-7 d-flex justify-content-center align-items-center m-0 p-0 text-center">
            <div class="w-100">
                <div class="mb-3 text-start rounded-3 shadow pt-2 px-1 ms-auto text-center col-sm-5"
                    style="background-color: rgba(244, 148, 38, 0.8);">
                    <h4>Flexibilidad <img style="width: 30px;" src="/img/icons/contenido4.png"></h4>
                    <p>Accede a nuestros servicios en cualquier momento y lugar, adaptándose a tu ritmo de vida.</p>
                </div>
                <div class="mb-3 text-end rounded-3 shadow pt-2 px-1 me-auto text-center col-sm-5"
                    style="background-color: rgba(244, 148, 38, 0.8);">
                    <h4>Profesores expertos <img style="width: 30px;" src="/img/icons/conetenido1.png"></h4>
                    <p>Aprende de profesionales calificados y apasionados por enseñar.</p>
                </div>
                <div class="mb-3 text-end rounded-3 shadow pt-2 px-1 ms-auto text-center col-sm-5"
                    style="background-color: rgba(244, 148, 38, 0.8);">
                    <h4>Seguridad <img style="width: 30px;" src="/img/icons/contenido3.png"></h4>
                    <p>Pagos seguros, profesionales verificados, datos protegidos y soporte continuo todo el tiempo.</p>
                </div>
                <div class="mb-3 text-start rounded-3 shadow pt-2 px-1 me-auto text-center col-sm-5"
                    style="background-color: rgba(244, 148, 38, 0.8);">
                    <h4>Diversidad <img style="width: 30px;" src="/img/icons/contenido2.png"></h4>
                    <p>Desde ciencias y matemáticas hasta idiomas y artes, tenemos algo para todos.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="p-5" style="background-color: #fff9f0;">
        <div class="row">
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Nosotros</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/somos">
                        <p>¿Quiénes Somos?
                    </a>
                    <a href="/somos">¿Cómo funciona?</a><br>
                    <br>
                    <a href="/">Testimonios</a><br>
                    <br>
                    <a href="/contactos">Preguntas frecuentes</a><br>
                    <br>
                    <a href="/contactos">Contacto</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Únete</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/RegisterStudents">
                        <p>Regístrate como estudiante
                    </a>
                    <a href="/RegisterTeachers">Sé docente o coach</a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Legal</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/policyList">
                        <p>Términos y condiciones
                    </a>
                    <a href="/policyList">Políticas de privacidad</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="d-flex justify-content-center">
                    <div class="qr-placeholder"></div>
                    <div class="qr-placeholder"></div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/img/logo/LogoPrincipal.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div style="background-color: #fbf1e3; color: #236388;" class="p-3">
        <div class="d-flex justify-content-between align-items-center mx-3">
            <p class="fs-5 m-0 text-start">Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
            <p class="fs-5 m-0 text-end">ProfeGo® EDUCONECTA S.A.S</p>
        </div>
    </div>
</div>