<link rel="stylesheet" href="/css/somos.css">
<div id="contenedor">
    <div id="superiorContenedor">
        <div id="imagenEsquina">
            <img src="/img/icons/esquinaCentral.png">
        </div>
        <div id="imagenContenedorCentarl">
            <h1>¿Quiénes somos?</h1>
            <img src="/img/icons/Logoprincipal.png" id="logoPorfe">
            <img src="/img/icons/ninosCentral.png">
        </div>
        <div id="imagenNuve">
            <img src="/img/icons/nubeCentral.png">
            <p>ProfeGo es una plataforma educativa diseñada para ofrecer una amplia gama de servicios y recursos
                educativos en modalidades online y presencial, garantizando acceso a una educación de alta calidad y
                adaptada a tus necesidades.</p>
        </div>
    </div>
</div>

<div id="mision">
    <h1>Misión</h1>
    <img src="/img/icons/mision.png">
    <p>Nuestra misión es conectar a estudiantes con docentes y coaches especialistas, integrando la tecnología y el
        toque humano a través de nuestra app. Facilitamos el acceso a los mejores educadores, tanto virtualmente como de
        manera presencial, permitiendo elegir la opción ideal entre diversos perfiles. Así garantizamos educación de
        calidad, en un entorno seguro y a precios competitivos.</p>
</div>

<div id="vision">
    <h1>Visión</h1>
    <img src="/img/icons/vision.png">
    <p>Convertirse en la plataforma líder en educación personalizada, reconocida por su innovación, excelencia y
        capacidad de adaptación a las necesidades del mercado nacional y global.</p>
</div>

<div id="historia">
    <img src="/img/icons/historia.png">
    <div id="datosHistoria">
        <h1>Nuestra historia</h1>
        <h2>¿Cómo nació ProfeGo?</h2>
        <p>ProfeGo nace para atender la demanda de padres de familia y profesionales que buscan fortalecer los procesos
            de
            enseñanza y aprendizaje, nuestra innovadora web y app conecta de inmediato con profesores y coaches expertos
            en
            diversas disciplinas; ofreciendo soluciones personalizadas, eficientes y rápidas.</p>
    </div>
</div>

<div id="contenedorValores">
    <h1>Nuestros valores</h1>
    <p>Descubre los principios que nos rigen.</p>
    <img src="/img/icons/valores.png">
</div>

<div id="cotendorPorqueElegir">
    <img src="/img/icons/fondos2.png">
    <div id="textodiv">
        <h1>¿Por qué elegir a ProfeGo?</h1>
        <p>Aprendizaje flexible, asequible y seguro con los mejores docentes y coaches</p>
    </div>
    <div id="cajon1">
        <h1>Profesores expertos <img src="/img/icons/conetenido1.png"></h1>
        <p>Aprende de profesionales calificados y apasionados por enseñar.</p>
    </div>
    <div id="cajon2">
        <h1>Diversidad <img src="/img/icons/contenido2.png"></h1>
        <p>Desde ciencias y matemáticas hasta idiomas y artes, tenemos algo para todos.</p>
    </div>
    <div id="cajon3">
        <h1>Seguridad <img src="/img/icons/contenido3.png"></h1>
        <p>Pagos seguros, profesionales verificados, datos protegidos y soporte continuo todo el tiempo.</p>
    </div>
    <div id="cajon4">
        <h1>Flexibilidad <img src="/img/icons/contenido4.png"></h1>
        <p>Accede a nuestros servicios en cualquier momento y lugar, adaptándose a tu ritmo de vida.</p>
    </div>
</div>

<div id="footer">
    <div id="tarjetaNosotros">
        <div id="nosotrosFooter">
            <h1>Nosotros</h1>
        </div>
        <div id="datosNosotros">
            <p>¿Quiénes Somos?<br>
                <br>
                <br>
                ¿Cómo funciona?<br>
                <br>
                <br>
                Testimonios<br>
                <br>
                <br>
                Preguntas frecuentes<br>
                <br>
                <br>
                Contacto
            </p>
        </div>
    </div>
    <div id="tarjetaUnete">
        <div id="nosotrosFooter">
            <h1>Únete</h1>
        </div>
        <div id="datosNosotros">
            <p>Regístrate como estudiante <br>
                <br>
                <br>
                Sé docente o coach
            </p>
        </div>
    </div>
    <div id="tarjetaLegal">
        <div id="nosotrosFooter">
            <h1>Legal</h1>
        </div>
        <div id="datosNosotros">
            <p>Términos y condiciones <br>
                <br>
                <br>
                Políticas de privacidad
            </p>
        </div>
    </div>
    <div id="logoImagen">
        <img src="/img/logo/LogoPrincipal.png">
    </div>
    <div id="final">
        <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>