<div>
    <div class="p-5" style="background-color: #fff9f0;">
        <div class="row">
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Nosotros</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/somos">
                        <p>¿Quiénes Somos?</p>
                    </a>
                    <a href="/funciona">
                        <p>¿Cómo funciona?</p>
                    </a>
                    <a href="/">
                        <p>Testimonios
                    </a>
                    <a href="/contactos#preguntas-frecuentes">
                        <p>Preguntas frecuentes</p>
                    </a>
                    <a href="/contactos">
                        <p>Contacto</p>
                    </a>
                </div>
            </div>
            {{#if user}}
            {{else}}
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Únete</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/RegisterStudents">
                        <p>Regístrate como estudiante</p>
                    </a>
                    <a href="/RegisterTeachers">
                        <p>Sé docente o coach</p>
                    </a>
                </div>
            </div>
            {{/if}}
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Legal</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/policyList">
                        <p>Términos y condiciones</p>
                    </a>
                    <a href="/policyList">
                        <p>Políticas de privacidad</p>
                    </a>

                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="d-flex justify-content-center">
                    <div class="qr-placeholder"></div>
                    <div class="qr-placeholder"></div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/img/logo/LogoPrincipal.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div style="background-color: #fbf1e3; color: #236388;" class="p-3">
        <div class="d-flex justify-content-between align-items-center mx-3">
            <p class="fs-5 m-0 text-start">Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
            <p class="fs-5 m-0 text-end">ProfeGo® EDUCONECTA S.A.S</p>
        </div>
    </div>
</div>