#contenedor {
    position: absolute;
    left: 0%;
    height: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#contactosVista {
    position: absolute;
    top: 12%;
    text-align: center;
    width: 100%;
}

#contactosVista h1 {
    color: #F39325;
    font-size: 30px;
}

#contactosVista p {
    font-size: 20px;
    font-weight: 600;
}

#celular h1 {
    color: #18574F;
    font-size: 30px;
    text-align: left;
    margin-left: 18%;
    margin-top: 9%;
}

#celular p {
    font-size: 20px;
    text-align: left;
    margin-left: 18%;
    margin-top: -3%;
}

#direcciones h1 {
    color: #18574F;
    font-size: 30px;
    text-align: left;
    margin-left: 18%;
    margin-top: 12%;
}

#direcciones p {
    font-size: 20px;
    text-align: left;
    margin-left: 18%;
    margin-top: -3%;
}

#correos h1 {
    color: #18574F;
    font-size: 30px;
    text-align: left;
    margin-left: 18%;
    margin-top: 16%;
}

#correos p {
    font-size: 20px;
    text-align: left;
    margin-left: 18%;
    margin-top: -3%;
}

#numeros {
    position: absolute;
    top: 133%;
    width: 5%;
    left: 4.5%;
}

#datosNumeros {
    width: 28%;
    position: absolute;
    top: 100%;
    left: 8%;
}

#envioDatos {
    position: absolute;
    width: 48%;
    left: 49.3%;
    height: 466px;
    top: 116.5%;
}

#envioDatos h1 {
    font-size: 30px;
    margin-left: -77.5%;
}

#envioDatos p {
    color: #18574F;
}

#numeros img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#nombre {
    width: 50%;
    height: 20%;
    text-align: left;
    margin-left: 1%;
    font-size: 20px;
}

#Teléfono {
    position: absolute;
    width: 40%;
    height: 20%;
    text-align: left;
    left: 55%;
    font-size: 20px;
    top: 10.9%;
}

#cORREO {
    position: absolute;
    width: 94%;
    height: 20%;
    text-align: left;
    left: 1%;
    font-size: 20px;
    top: 40%;
}

#mensjaes {
    position: absolute;
    width: 94%;
    text-align: left;
    left: 1%;
    font-size: 20px;
    top: 70%;
}

#nombre input,
#Teléfono input,
#cORREO input,
#mensjaes textarea,
#botonEnviar button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #FFEFDA;
}

#botonEnviar {
    position: absolute;
    width: 30%;
    height: 35px;
    left: 65.5%;
    top: 106%;

}

#botonEnviar button {
    background-color: #18574F;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 20px;
}

#imagenPreguntas {
    position: absolute;
    width: 100%;
    top: 118%;
}

#imagenPreguntas img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#footer {
    position: absolute;
    top: 420%;
    width: 100%;
    height: 50%;
    background-color: #ffefdaa0;
    left: 0%;
}

#tarjetaNosotros,
#tarjetaUnete,
#tarjetaLegal {
    position: absolute;
    width: 12%;
    top: 0%;
    left: 4.5%;
    height: 100%;
}

#tarjetaNosotros h1,
#tarjetaUnete h1,
#tarjetaLegal h1 {
    color: #004D77;
    font-size: 20px;
    left: 4.5%;
}

#tarjetaNosotros p,
#tarjetaUnete p,
#tarjetaLegal p {
    color: #004D77;
    left: 4.5%;
    font-size: 14px;
    margin-top: 25%;
    font-weight: 600;
    line-height: 13px;
}

#nosotrosFooter {
    position: relative;
    padding: 0px;
    background: transparent;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #F39325, #FEEDD9);
    border-image-slice: 1;
    border-image-width: 0 0 5px 0;
    left: 0%;
    top: 4.5%;
}

#tarjetaUnete {
    left: 21%;
}

#tarjetaLegal {
    left: 38%;
}

#logoImagen {
    position: absolute;
    top: 7%;
    left: 75%;
    width: 20%;
    height: 69%;
}


#logoImagen img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#final {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: #FFEFDA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#final p {
    text-align: center;
    width: 40%;
    color: #004D77;
    left: 4.5%;
}

#final #finalFinal {
    position: absolute;
    top: 0%;
    left: 77.5%;
    width: 20%;
}


@media (max-width: 2560px) and (min-width: 1985px) {
    #contactosVista h1 {
        font-size: 50px;
    }

    #contactosVista p {
        font-size: 35px;
    }

    #cORREO {
        top: 55%;
    }

    #mensjaes {
        top: 90%;
    }

    #botonEnviar {
        top: 140%;
    }

    #botonEnviar button {
        font-size: 45px;
    }

    #tarjeta p {
        font-size: 25px;
    }

    #tarjetaNosotros h1,
    #tarjetaUnete h1,
    #tarjetaLegal h1 {
        font-size: 30px;
    }

    #tarjetaNosotros p,
    #tarjetaUnete p,
    #tarjetaLegal p {
        font-size: 22px;
    }

    #footer a {
        font-size: 22px;
    }

    #final {
        font-size: 22px;
    }
}

@media (max-width: 1144px) {

    #final p {
        width: 65%;
    }

    #final #finalFinal {
        left: 66%;
        width: 33%;
    }

    #logoImagen {
        height: 60%;
    }
}

@media (max-width: 876px) {

    #contactosVista h1 {
        font-size: 20px;
    }

    
    #contactosVista p {
        font-size: 15px;
    }

    #Teléfono {
        top: 7%;
    }

    #cORREO {
        top: 35%;
    }

    #mensjaes {
        top: 60%;
    }

    #botonEnviar {
        top: 87%;
    }

    #footer {
        top: 285%;
    }

    #final p {
        font-size: 12px;
    }

    #logoImagen {
        height: 50%;
    }

    #final p {
        width: 65%;
    }

    #datosNosotros p,
    #datosNosotros a {
        font-size: 10px;
    }
}