.bg-fondo {
    background-image: url('/img/icons/preguntas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
}

.linea {
    width: auto;
    height: 3px;
    background: linear-gradient(to right, #ff8800, #f2dabf);
    border: none;
    margin-top: 5px;
}

.custom-border {
    border-color: #147483 !important;
}

.custom-border:hover {
    background-color: #0a5a5a !important;
    border-color: #e6f7f7 !important;
}

.custom-border:hover  p{
    color: #ffffff !important;
}

.custom-border2 {
    border-color: #f39528 !important;
}
