#contenedor {
    position: absolute;
    left: 0%;
    height: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#estudiantesFunciona{
    position: absolute;
    top: 12%;
    left: 3.8%;
    width: 92%;
    height: 176%;
    text-align: center;
    font-size: 20px;
}

#estudiantesFunciona h1{
    color: #F39325;
    font-size: 30px;
}
#estudiantesFunciona p{
    font-size: 20px;
    font-weight: 600;
}

#estudiantesFunciona img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#docentesFunciona{
    position: absolute;
    top: 215%;
    left: 3.8%;
    width: 92.1%;
    height: 264%;
}

#docentesFunciona img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#importante{
    position: absolute;
    width: 100%;
    height: 24%;
    top: 485%;
    text-align: left;
    font-size: 20px;
}

#importante p{
    position: absolute;
    width: 60%;
    top: 44px;
    left: 24%;
    font-weight: 600;
    line-height: 150%;
}

#importante img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#calidificacion{
    position: absolute;
    top: 521%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

#calidificacion h1{
    color: #F39325;
    font-size: 30px;
}
#calidificacion p{
    font-size:20px;
}
.highlight {
    font-weight: bold;
}

#calidificacion img{
    width: 100%;
    height: 110%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#footer{
    position: absolute;
    top: 670%;
    width: 100%;
    height: 50%;
    background-color: #ffefdaa0;
    left: 0%;
}

#tarjetaNosotros,
#tarjetaUnete,
#tarjetaLegal{
    position: absolute;
    width: 12%;
    top: 0%;
    left: 4.5%;
    height: 100%;
}

#tarjetaNosotros h1,
#tarjetaUnete h1,
#tarjetaLegal h1{
    color: #004D77;
    font-size: 20px;
    left: 4.5%;
}

#tarjetaNosotros p,
#tarjetaUnete p,
#tarjetaLegal p{
    color: #004D77;
    left: 4.5%;
    font-size: 14px;
    margin-top: 25%;
    font-weight: 600;
    line-height: 13px;
}

#nosotrosFooter{
    position: relative;
    padding: 0px;
    background: transparent; 
    border-bottom: 5px solid transparent; 
    border-image: linear-gradient(to right, #F39325, #FEEDD9);
    border-image-slice: 1;
    border-image-width: 0 0 5px 0;
    left: 0%;
    top: 4.5%;
}

#tarjetaUnete{
    left: 21%;
}

#tarjetaLegal{
    left: 38%;
}

#logoImagen {
    position: absolute;
    top: 7%;
    left: 75%;
    width: 20%;
    height: 69%;
}


#logoImagen img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#final{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: #FFEFDA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#final p{
    text-align: center;
    width: 40%;
    color: #004D77;
    left: 4.5%;
}

#final #finalFinal{
    position: absolute;
    top: 0%;
    left: 77.5%;
    width: 20%;
}

@media (max-width: 1440px) {
    #final p {
        width: 50%;
    }
}