.linea {
    width: auto; 
    height: 3px; 
    background: linear-gradient(to right, #ff8800, #f2dabf);
    border: none; margin-top: 5px;
}

.bg-fondo {
    background-image: url('/img/icons/calificacion.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
