.bg-fondo {
    background-image: url('/img/icons/fondos2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
}

.bg-fondo2 {
    background-image: url('/img/icons/mediaNube.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
}

.linea {
    width: auto;
    height: 3px;
    background: linear-gradient(to right, #ff8800, #f2dabf);
    border: none;
    margin-top: 5px;
}

.px-4 {
    padding-right: 2.4rem !important;
    padding-left: 2.8rem !important;
}

@media (min-width: 769px) {
    .right-text {
        position: absolute;
        left: 59%;
        width: 40%;
        top: 45%;
        transform: translateY(-50%);
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .responsive-text {
        font-size: 2rem;
    }

    .fs-1 {
        font-size: 3rem;
    }

    .right-text {
        position: absolute;
        left: 50%;
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        padding: 20px;
    }

    .right-text img {
        max-width: 25%;
    }
}

@media (max-width: 660px) {
    .responsive-text {
        font-size: 1.4rem;
    }

    .fs-1 {
        font-size: 2.4rem;
    }

    .right-text {
        position: absolute;
        left: 50%;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .right-text img {
        max-width: 25%;
        margin-left: 33% !important;
    }

    #aprende {
        width: 100% !important;
        padding-left: 6% !important;
    }

    #buscar {
        margin-right: -3% !important;
        margin-top: 3% !important;
    }

    .bg-fondo {
        min-height: 100vh;
    }

    #diversidades {
        margin-top: 0% !important;
        margin-left: 10% !important;
    }

    #profes {
        margin-left: 10% !important;
    }

    #flex {
        margin-right: 12% !important;
    }

    #porque {
        padding-left: 0% !important;
        margin-top: 10% !important;
    }

    #quieres {
        font-size: 2rem !important;
        padding-left: 10% !important;
    }

    #aqui {
        margin-left: 1% !important;
    }

    .bg-fondo {
        background-image: url(/img/icons/fondo3.jpg);
    }

    #interconecta {
        display: contents !important;
    }

    #sas {
        padding-right: 18% !important;
        margin-top: 4% !important;
    }

    #logoFlotante {
        min-width: 95% !important;
        margin-top: 8% !important;
    }
}

@media (max-width: 500px) {
    .responsive-text {
        font-size: 1.4rem;
    }

    .fs-1 {
        font-size: 2.4rem;
    }

    .right-text {
        position: absolute;
        left: 50%;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .right-text img {
        max-width: 15%;
    }
}

@media (max-width: 470px) {
    .responsive-text {
        font-size: 1rem;
    }

    .fs-1 {
        font-size: 2rem;
    }

    .right-text {
        position: absolute;
        left: 50%;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .right-text img {
        max-width: 0.7%;
    }
}

@media (max-width: 400px) {
    .responsive-text {
        font-size: 1rem;
    }

    .fs-1 {
        font-size: 2rem;
    }

    .right-text {
        position: absolute;
        left: 50%;
        width: 100%;
        max-width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .right-text img {
        max-width: 0.1%;
    }
}