.custom-dropdown-menu {
    width: 95vw;
    max-width: 565px;
}

.col8 {
    background-color: #FFEFDA;
    overflow: hidden;
}

.col4 {
    background: #F29224;
}

.dropdown-toggle::after {
    color: #F29224;
}

.p4 {
    background-color: #F29224;
}

.col6 {
    width: 100% !important;
}

.dropdownItem {
    width: 100% !important;
}

.imgNav {
    max-width: 22% !important;
}

.h5-text {
    font-size: 30px !important;
    color: white;
}

.color-icon {
    color: #F29224;
}

.custom-dropdown-menu-user-coach {
    width: 95vw;
    max-width: 220px;
}

.btn-custom-orange {
    background-color: #ffffff;
    color: #f29224;
    border: 1px solid #f29224;
}

.btn-custom-orange:hover {
    color: black;
    background-color: #f29224;
}

.btn-custom-blue {
    background-color: #004d77;
    color: #ffffff;
}

.btn-custom-blue:hover {
    color: black;
    background-color:#ffffff;
    border-color: #004d77;
}