.custom-dropdown-menu {
    width: 565px;
}

.col-md-8 {
    width: 40%;
    background-color: #FFEFDA;
}

.col-md-4 {
    width: 60%;
    text-align: left;
    background: #F29224;
}

.dropdown-toggle::after {
    color: #F29224;
}

.p-4 {
    background-color: #F29224;
}

.col-md-6 {
    width: 100% !important;
    border-bottom: 2px solid;
}

.dropdown-item {
    width: 100% !important;
}

#login{
    width: 254px;
}

#opcionesLogin{
    width: 100% !important;
    padding-top: 3%;
    border-bottom: 2px solid;
}

#Nosotros{
    max-width: 100% !important;
}

.h5, h5 {
    font-size: 30px !important;
    color: white;
    margin-top: 20px;
}