#contenedor {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0%;
    top: 5%;
}

#superiorContenedor {
    position: absolute;
    left: 2.5%;
    top: 7%;
    width: 94.8%;
    height: 85%;
}

#imagenEsquina {
    position: absolute;
    width: 20%;
    height: 38%;
    left: 2.1%;
    top: 5.1%;
}

#imagenEsquina img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#imagenContenedorCentarl {
    width: 100%;
    height: 100%;
}

#imagenContenedorCentarl img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#logoPorfe {
    position: absolute;
    top: 12%;
    max-width: 12%;
    max-height: 23.5%;
    left: 74.8%;
}

#imagenContenedorCentarl h1 {
    position: absolute;
    top: 38%;
    left: 72.5%;
    font-size: 30px;
    color: white;
}

#imagenNuve {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 34%;
    max-height: 40%;
    top: 53.6%;
    left: 63.8%;
}


#imagenNuve img {
    width: 100%;
    height: 100%;
}

#imagenNuve p {
    position: absolute;
    top: 22%;
    left: 12%;
    width: 82%;
    font-size: 20px;
    color: white;
    text-align: justify;
}

#mision,
#vision {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 98%;
    left: 4.5%;
}

#mision h1 {
    font-size: 30px;
    color: #004D77
}

#vision h1 {
    font-size: 30px;
    color: #004D77
}

#vision {
    left: 55%;
}

#mision img,
#vision img {
    width: 100%;
    height: 82%;

}

#mision p {
    font-size: 20px;
    color: #000000;
    text-align: justify;
}

#vision p {
    font-size: 20px;
    color: #000000;
    text-align: justify;
}

#historia {
    position: absolute;
    top: 187%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 84%;
    left: 0%;
}

#historia img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#datosHistoria {
    position: absolute;
    top: 28%;
    width: 100%;
    height: 100%;
    max-width: 49%;
    max-height: 40%;
    left: 4.5%;
}

#datosHistoria h1 {
    color: #F29224;
    font-size: 30px;
    text-align: center;
}

#datosHistoria h2 {
    color: #18574F;
    font-size: 25px;
    text-align: center;
    margin-top: 4cqb;
}

#datosHistoria p {
    font-size: 20px;
    line-height: 160%;
    margin-top: 4%;
}

#contenedorValores {
    position: absolute;
    top: 286%;
    width: 100%;
    height: 100%;
    max-width: 90.5%;
    max-height: 100%;
    left: 4.5%;
}

#contenedorValores h1 {
    color: #F29224;
    font-size: 30px;
}

#contenedorValores p {
    color: #18574F;
    font-size: 20px;
}

#contenedorValores img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#cotendorPorqueElegir {
    position: absolute;
    top: 418%;
    width: 100%;
    height: 86%;
    left: 0%;
}

#cotendorPorqueElegir img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#textodiv {
    position: absolute;
    width: 19%;
    top: 29%;
    left: 4.5%;
    font-size: 18px;
}

#textodiv h1 {
    color: #FFEFDA;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

#textodiv p {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

#cajon1 {
    position: absolute;
    width: 24%;
    height: 25%;
    background-color: #F29224;
    top: 24%;
    left: 29%;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.30);
}

#cajon1 h1,
#cajon2 h1,
#cajon3 h1,
#cajon4 h1 {
    color: white;
    font-size: 25px;
    margin-top: 4.5%;
}

#cajon1 p,
#cajon2 p,
#cajon3 p,
#cajon4 p {
    color: white;
    font-size: 16px;
    font-weight: 550;
    margin-top: -2%;
}

#cajon1 h1 img {
    width: 10%;
}

#cajon2 {
    position: absolute;
    width: 24%;
    height: 25%;
    background-color: #F29224;
    top: 72%;
    left: 31%;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
}

#cajon2 h1 img {
    width: 10%;
}

#cajon3 {
    position: absolute;
    width: 24%;
    height: 25%;
    background-color: #F29224;
    top: 57%;
    left: 75%;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
}

#cajon3 h1 img {
    width: 10%;
}

#cajon4 {
    position: absolute;
    width: 24%;
    height: 25%;
    background-color: #F29224;
    top: 11.5%;
    left: 75%;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
}

#cajon4 h1 img {
    width: 10%;
}

#footer {
    position: absolute;
    top: 540%;
    width: 100%;
    height: 60%;
    background-color: #ffefdaa0;
    left: 0%;
}

#tarjetaNosotros,
#tarjetaUnete,
#tarjetaLegal {
    position: absolute;
    width: 12%;
    top: 0%;
    left: 4.5%;
    height: 100%;
}

#tarjetaNosotros h1,
#tarjetaUnete h1,
#tarjetaLegal h1 {
    color: #004D77;
    font-size: 20px;
    left: 4.5%;
}

#tarjetaNosotros p,
#tarjetaUnete p,
#tarjetaLegal p {
    color: #004D77;
    left: 4.5%;
    font-size: 14px;
    margin-top: 25%;
    font-weight: 600;
    line-height: 13px;
}

#nosotrosFooter {
    position: relative;
    padding: 0px;
    background: transparent;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #F39325, #FEEDD9);
    border-image-slice: 1;
    border-image-width: 0 0 5px 0;
    left: 0%;
    top: 4.5%;
}

#tarjetaUnete {
    left: 21%;
}

#tarjetaLegal {
    left: 38%;
}

#logoImagen {
    position: absolute;
    top: 7%;
    left: 75%;
    width: 20%;
    height: 69%;
}


#logoImagen img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#final {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: #FFEFDA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#final p {
    text-align: center;
    width: 40%;
    color: #004D77;
    left: 4.5%;
}

#final #finalFinal {
    position: absolute;
    top: 0%;
    left: 77.5%;
    width: 20%;
}

@media (max-width: 1440px) {
    #imagenNuve p {
        top: 14%;
    }
}