#contenedor {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
}

#superiorContenedor {
    position: absolute;
    left: 10%;
    top: 7%;
    width: 80%;
    height: 90%;
}

#imagenEsquina {
    position: absolute;
    width: 21%;
    height: 45%;
    left: 0%;
    top: 0%;
}

#imagenEsquina img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#imagenContenedorCentarl {
    width: 100%;
    height: 100%;
}

#imagenContenedorCentarl img {
    width: 100%;
    height: 100%;
}

#logoPorfe {
    position: absolute;
    top: 9%;
    max-width: 20%;
    max-height: 25%;
    left: 74%;
}

#imagenContenedorCentarl h1 {
    position: absolute;
    top: 35%;
    left: 73%;
    font-size: 29px;
    color: white;
}

#imagenNuve {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 39%;
    max-height: 52%;
    top: 42%;
    left: 59%;
}


#imagenNuve img {
    width: 100%;
    height: 100%;
}

#imagenNuve p {
    position: absolute;
    top: 29%;
    left: 10%;
    width: 90%;
    font-size: 22px;
    color: white;
}

#mision,
#vision{
    position: absolute;
    width: 40%;
    height: 70%;
    top: 100%;
    left: 5%;
}

#vision{
    left: 55%;
}

#mision img,
#vision img{
    width: 100%;
    height: 100%;
}

#historia{
    position: absolute;
    top: 195%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    left: 0%;
}

#historia img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#datosHistoria {
    position: absolute;
    top: 31%;
    width: 100%;
    height: 100%;
    max-width: 44%;
    max-height: 40%;
    left: 11%;
    text-align: center;
    font-size: 20px;
}

#datosHistoria h1{
    color: #F29224;
}

#datosHistoria h2{
    color: #18574F;
}

#contenedorValores{
    position: absolute;
    top: 310%;
    width: 100%;
    height: 100%;
    max-width: 80%;
    max-height: 100%;
    left: 10%;
}

#contenedorValores h1{
    color: #F29224;
    font-size: 30px;
}
#contenedorValores p{
    color: #18574F;
    font-size: 25px;
}

#contenedorValores img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#cotendorPorqueElegir{
    position: absolute;
    top: 450%;
    width: 100%;
    height: 85%;
    left: 0%;
}

#cotendorPorqueElegir img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#textodiv{
    position: absolute;
    width: 23%;
    top: 31%;
    left: 5%;
    font-size: 21px;
}

#textodiv h1{
    color: #FFEFDA;
}
#textodiv p{
    color: white;
}

#cajon1 {
    position: absolute;
    width: 24%;
    height: 20%;
    background-color: #F29224;
    top: 27%;
    left: 35%;
    border-radius: 20px;
    text-align: center;
}

#cajon1 h1,
#cajon2 h1,
#cajon3 h1,
#cajon4 h1{
    color: white;
}

#cajon1 p,
#cajon2 p,
#cajon3 p,
#cajon4 p{
    color: white;
}

#cajon1 h1 img{
    width: 10%;
}

#cajon2 {
    position: absolute;
    width: 24%;
    height: 20%;
    background-color: #F29224;
    top: 75%;
    left: 35%;
    border-radius: 20px;
    text-align: center;
}

#cajon2 h1 img{
    width: 10%;
}

#cajon3 {
    position: absolute;
    width: 24%;
    height: 20%;
    background-color: #F29224;
    top: 57%;
    left: 70%;
    border-radius: 20px;
    text-align: center;
}

#cajon3 h1 img{
    width: 10%;
}

#cajon4 {
    position: absolute;
    width: 24%;
    height: 20%;
    background-color: #F29224;
    top: 10%;
    left: 70%;
    border-radius: 20px;
    text-align: center;
}

#cajon4 h1 img{
    width: 10%;
}

#footer{
    position: absolute;
    top: 544%;
    width: 100%;
    height: 60%;
    background-color: #ffefdaa0;
    left: 0%;
}

#tarjetaNosotros,
#tarjetaUnete,
#tarjetaLegal{
    position: absolute;
    width: 12%;
    top: 0%;
    left: 4%;
    height: 100%;
}

#tarjetaNosotros h1,
#tarjetaUnete h1,
#tarjetaLegal h1{
    color: #004D77;
}

#tarjetaNosotros p,
#tarjetaUnete p,
#tarjetaLegal p{
    color: #004D77;
}

#nosotrosFooter{
    position: relative;
    padding: 20px;
    background: transparent; /* Fondo blanco para que el borde resalte */
    border-bottom: 5px solid transparent; /* Ajusta el grosor del borde aquí */
    border-image: linear-gradient(to right, #F39325, #FEEDD9);
    border-image-slice: 1;
    border-image-width: 0 0 5px 0;
}

#tarjetaUnete{
    left: 19%;
}

#tarjetaLegal{
    left: 35%;
}

#logoImagen {
    position: absolute;
    top: 7%;
    left: 74%;
    width: 25%;
    height: 69%;
}


#logoImagen img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#final{
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: #FFEFDA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#final p{
    text-align: center;
    width: 40%;
    color: #004D77;
}

#final #finalFinal{
    position: absolute;
    top: 0%;
    left: 79%;
    width: 20%;
}
