<link rel="stylesheet" href="">
<div id="contenedor">
    <form action="/silabus/curso/agregar/{{}}">
        <div id="titulo">
            <h1>Silabus</h1>
        </div>
        <div id="nombre">
            <p></p>
            <input type="text" name="namesyllabusEducational" id="namesyllabusEducational">
        </div>
        <div id="objetivo">
            <input type="text" name="objetivesyllabusEducational" id="objetivesyllabusEducational">
        </div>
        <div id="modulos">
            <input type="text" name="moduleCurrucularContentCourse" id="moduleCurrucularContentCourse">
        </div>
        <div id="tema">
            <input type="text" name="themesyllabusEducational" id="themesyllabusEducational">
        </div>
        <div id="tiempo">
            <input type="text" name="timesyllabusEducational" id="timesyllabusEducational">
        </div>
        <div id="fechas">
            <input type="text" name="datesyllabusEducational" id="datesyllabusEducational">
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>