<link rel="stylesheet" href="">
<div id="contenedor">
    <form action="" method="post">
        <div id="datosPlataforma">
            <div id="logo">
                <img src="/img/page/{{}}" alt="">
            </div>
            <div id="plataforma">
                <div id="nombrePagina">
                    <p>{{}}</p>
                </div>
                <div id="ruc">
                    <p>{{}}</p>
                </div>
                <div id="celular">
                    <p>{{}}</p>
                </div>
                <div id="direccion">
                    <p>{{}}</p>
                </div>
                <div id="email">
                    <p>{{}}</p>
                </div>
            </div>
            <div id="factura">
                <div id="titulo">
                    <p>Mis Facturas:</p>
                </div>
                <div id="imagenFactura">
                    <img src="">
                </div>
            </div>
            <div id="facturas">
                <div id="row">
                    <div id="tarjeta">
                        <div id="imagenFactura">
                            <img src="">
                        </div>
                        <div id="numero">
                            <p>Factura N°{{}}</p>
                        </div>
                        <div id="descripcionFactura">
                            <p>{{}}</p>
                        </div>
                        <div id="nombrePlataforma">
                            <p>{{}}</p>
                        </div>
                        <div id="costo">
                            <p>{{}}</p>
                        </div>
                        <div id="fecha"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>