<link rel="stylesheet" href="/css/mensajes/mensajes.css">
{{#if message}}
<div id="contenedorMensaje" class="contenedorMensaje">
    <div id="mensaje">
        <p>{{message}}</p>
        <div id="cerrar">
            <!-- Asegúrate de que el ID aquí coincida con el que buscas en tu JS -->
            <button type="button" class="botonCerrar">x</button>
        </div>
    </div>
</div>
{{/if}}

{{#if success}}
<div id="contenedorMensaje" class="contenedorMensaje">
    <div id="mensaje">
        <p>{{success}}</p>
        <div id="cerrar">
            <!-- Asegúrate de que el ID aquí coincida con el que buscas en tu JS -->
            <button type="button" class="botonCerrar">x</button>
        </div>
    </div>
</div>
{{/if}}

<script src="/js/cerrar.js"></script>