<link rel="stylesheet" href="/css/mensajes/mensajes.css">
{{#if message}}
<div class="alert alert-danger alert-dismissible fade show position-fixed top-50 start-50 translate-middle-x translate-middle-y w-auto z-index-1050"
    role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success alert-dismissible fade show position-fixed top-50 start-50 translate-middle-x translate-middle-y w-auto z-index-1050"
    role="alert">
    <strong>{{success}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<script src="/js/cerrar.js"></script>