<link rel="stylesheet" href="/css/navegacion.css">
<nav id="nav">
    {{#if user}}
    <div id="eleccionCursoCLases">
        {{#each listaTeacher}}
        <a href="/teacher/eleccion/{{idTeacher}}"><button type="button">Eleccion Servicios</button></a>
        {{/each}}
    </div>
    {{else}}
    <div id="estudiantes">
        <div id="estudientesImagenes">
            <img src="/img/icons/estudiantes.png">
        </div>
        <div id="estudiante">
            <a href="/loginStudents"><button type="button">ESTUDIANTES</button></a>
        </div>
    </div>
    <div id="docentes">
        <div id="docentesCouch">
            <img src="/img/icons/couchingDocmentes.png">
        </div>
        <div id="couch">
            <a href="/loginTeachers"><button type="button">DOCENTE O COACH</button></a>
        </div>
    </div>
    {{/if}}
    <div id="logo">
        {{#each listaPagina}}
        <a href="/"><img src="/img/page/{{photoPage}}"></a>
        {{/each}}
    </div>
    <div id="nosotros">
        <div id="nosots">
            <p>Nosotros</p>
        </div>
        <div id="bajar">
            <button type="button" id="bajar"><img src="/img/icons/baja.png"></button>
        </div>
    </div>
    <div id="servicios">
        <div id="servisiosTitulo">
            <p>Servicios</p>
        </div>
        <div id="bajar">
            <button type="button" id="bajar1"><img src="/img/icons/baja.png"></button>
        </div>
    </div>
    <div id="contactos">
        <div id="contactosTitulo">
            <p>Contactos</p>
        </div>
        <div id="bajar">
            <button type="button" id="bajar2"><img src="/img/icons/baja.png"></button>
        </div>
    </div>
</nav>

<div id="subNav3">
    <div id="contenedorImagenInformacion">
        <div id="contenedorImagen">
            <div id="imagen">
                <img src="/img/icons/centroAyuda.png">
            </div>
            <div id="nosotros1">
                <h1>CENTRO DE AYUDA</h1>
                <p>Encuentra respuestas a tus dudas y ponte en comunicación con nosotros para más información.</p>
            </div>
        </div>
        <div id="contenedorInformacion1">
            <div id="somos">
                <div id="somosImagen">
                    <img src="/img/icons/contactos.png">
                </div>
                <div id="informacion">
                    <h1>Contactos</h1>
                    <p>Ponte en comunicación con nosotros para más información y asistencia personalizada.</p>
                </div>
            </div>
            <div id="funciona">
                <div id="imagenFunciona">
                    <img src="/img/icons/frecuentes.png">
                </div>
                <div id="informacion1">
                    <h1>Preguntas frecuentes</h1>
                    <p>Encuentra respuestas rápidas y detalladas a las dudas más comunes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="subNav2">
    <div id="contenedorImagenInformacion">
        <div id="contenedorImagen">
            <div id="imagen">
                <img src="/img/icons/imagenServicios.png">
            </div>
            <div id="nosotros1">
                <h1>SERVICIOS</h1>
                <p>Explora nuestros servicios, desde clases grupales y particulares hasta cursos, coaching para
                    docentes
                    y mucho más.</p>
            </div>
        </div>
        <div id="contenedorInformacion1">
            <div id="somos">
                <div id="somosImagen">
                    <img src="/img/icons/clases.png">
                </div>
                <div id="informacion">
                    <h1>Clases particulares</h1>
                    <p>Explora nuestra variedad de clases particulares, disponibles en línea o a domicilio,
                        adaptadas a
                        tu ritmo y necesidades educativas.</p>
                </div>
            </div>
            <div id="funciona">
                <div id="imagenFunciona">
                    <img src="/img/icons/grupales.png">
                </div>
                <div id="informacion1">
                    <h1>Clases grupales</h1>
                    <p>Descubre nuestras clases grupales ideales para grupos de estudio y para aquellos que
                        desean
                        aprender junto a otros amigos, tanto en línea como presencial. </p>
                </div>
            </div>
            <div id="seguridad">
                <div id="imagenSeguridad">
                    <img src="/img/icons/Cursos.png">
                </div>
                <div id="informacion2">
                    <h1>Cursos</h1>
                    <p>Conoce nuestros cursos diseñados para brindar conocimientos en profundidad y habilidades
                        prácticas tanto en línea como presencial.</p>
                </div>
            </div>
            <div id="testimonio">
                <div id="imagentestiminio">
                    <img src="/img/icons/Couching.png">
                </div>
                <div id="informacion3">
                    <h1>Coaching para docentes</h1>
                    <p>¿Eres docente? Infórmate sobre nuestros programas de Coaching para mejorar habilidades
                        pedagógicas y estrategias educativas, adaptados a tus necesidades profesionales.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="subNav1">
    <div id="contenedorImagenInformacion">
        <div id="contenedorImagen">
            <div id="imagen">
                <img src="/img/icons/imagenNosotros.png">
            </div>
            <div id="nosotros1">
                <h1>NOSOTROS</h1>
                <p>Descubre quiénes somos,
                    por qué elegirnos y cuáles
                    son nuestros estándares
                    de calidad en la educación.</p>
            </div>
        </div>
        <div id="contenedorInformacion1">
            <div id="somos">
                <div id="somosImagen">
                    <img src="/img/icons/somos.png">
                </div>
                <div id="informacion">
                    <h1>¿Quiénes somos?</h1>
                    <p>Conoce nuestra historia, nuestros valores, nuestras ventajas y nuestra pasión por brindar
                        la
                        mejor educación.</p>
                </div>
            </div>
            <div id="funciona">
                <div id="imagenFunciona">
                    <img src="/img/icons/funciona.png">
                </div>
                <div id="informacion1">
                    <h1>¿Cómo funciona?</h1>
                    <p>Descubre todos los pasos para aprovechar al máximo esta plataforma educativa hecha para ti.
                    </p>
                </div>
            </div>
            <div id="seguridad">
                <div id="imagenSeguridad">
                    <img src="/img/icons/seguridad.png">
                </div>
                <div id="informacion2">
                    <h1>Nuestra seguridad</h1>
                    <p>Infórmate sobre nuestro meticuloso proceso de selección de docentes, coaches y nuestras
                        medidas
                        de seguridad para el bienestar de nuestra comunidad.</p>
                </div>
            </div>
            <div id="testimonio">
                <div id="imagentestiminio">
                    <img src="/img/icons/testimonio.png">
                </div>
                <div id="informacion3">
                    <h1>Testimonios</h1>
                    <p>Consulta las opiniones que nuestra comunidad tiene sobre nuestros docentes y servicios.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/navegacion.js"></script>