<link rel="stylesheet" href="/css/navegacion.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo/Variantelogoprofego.png" alt="Logo" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Dropdown Nosotros -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nosotrosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Nosotros</a>
                    <ul class="dropdown-menu p-4 custom-dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/img/icons/imagenNosotros.png" class="img-fluid" id="Nosotros" alt="Nosotros">
                                    <h5>Nosotros</h5>
                                    <p>Descubre quiénes somos, por qué elegirnos y cuáles son nuestros estándares de
                                        calidad en la educación.</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="">
                                        <div class="col-md-6">
                                            <a href="/somos" class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/somos.png" class="img-fluid" alt="Somos">
                                                <h6>¿Quiénes somos?</h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/funciona" class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/funciona.png" class="img-fluid" alt="Funciona">
                                                <h6>¿Cómo funciona?</h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/seguridad"
                                                class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/seguridad.png" class="img-fluid" alt="Seguridad">
                                                <h6>Nuestra seguridad</h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/" class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/testimonio.png" class="img-fluid"
                                                    alt="Testimonios">
                                                <h6>Testimonios</h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown Servicios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="serviciosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                    <ul class="dropdown-menu p-4 custom-dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/img/icons/imagenServicios.png" id="Nosotros" class="img-fluid" alt="Servicios">
                                    <h5>Servicios</h5>
                                    <p>Explora nuestros servicios, desde clases grupales y particulares hasta cursos y
                                        coaching para docentes.</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="">
                                        <div class="col-md-6">
                                            <a href="/general/listClase"
                                                class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/clases.png" class="img-fluid" alt="Clases">
                                                <h6>Clases particulares</h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/general/listClase"
                                                class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/grupales.png" class="img-fluid" alt="Grupales">
                                                <h6>Clases grupales</h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/general/listCurso"
                                                class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/Cursos.png" class="img-fluid" alt="Cursos">
                                                <h6>Cursos</h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/general/listCurso"
                                                class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/Couching.png" class="img-fluid" alt="Coaching">
                                                <h6>Coaching para docentes</h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown Centro de Ayuda -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ayudaDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Centro de Ayuda</a>
                    <ul class="dropdown-menu p-4 custom-dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/img/icons/centroAyuda.png" id="Nosotros" class="img-fluid" alt="Centro de Ayuda">
                                    <h5>Centro de Ayuda</h5>
                                    <p>Encuentra respuestas a tus dudas y ponte en comunicación con nosotros para más
                                        información.</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="">
                                        <div class="col-md-6">
                                            <a href="/contactos"
                                                class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/contactos.png" class="img-fluid" alt="Contactos">
                                                <h6>Contactos</h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#" class="dropdown-item animate__animated animate__fadeIn">
                                                <img src="/img/icons/frecuentes.png" class="img-fluid" alt="Preguntas">
                                                <h6>Preguntas frecuentes</h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown Iniciar sesión -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="authDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Iniciar sesión</a>
                    <ul class="dropdown-menu p-4 custom-dropdown-menu" id="login">
                        <li>
                            <div class="row">
                                <!-- Docente/Coach -->
                                <div class="col-md-6" id="opcionesLogin">
                                    <a href="/loginTeachers" class="dropdown-item animate__animated animate__fadeIn">
                                        <h6>Docente/Coach</h6>
                                    </a>
                                    <hr>
                                    <a href="/RegisterTeachers" class="dropdown-item animate__animated animate__fadeIn">
                                        <h6>Registro Docente/Coach</h6>
                                    </a>
                                </div>
                                <!-- Estudiante -->
                                <div class="col-md-6" id="opcionesLogin">
                                    <a href="/loginStudents" class="dropdown-item animate__animated animate__fadeIn">
                                        <h6>Estudiante</h6>
                                    </a>
                                    <hr>
                                    <a href="/RegisterStudents" class="dropdown-item animate__animated animate__fadeIn">
                                        <h6>Registro Estudiante</h6>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>