.bg-registro {
  background-image: url('/img/fondo/postulacion.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#idPagina {
  display: none;
}

.imgReg {
  max-width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

#imagenPrevisualizacion,
#botonImagen img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#imagenPrevisualizacion {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#botonImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#botonImagen img {
  opacity: 0.2;
}

.linea {
  width: auto;
  height: 3px;
  background: linear-gradient(to right, #ff8800, #f2dabf);
  border: none;
  margin-top: 5px;
}

.image-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#direccion {
  position: relative;
  width: 100%;
  height: 40vh;
  max-height: 500px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  #direccion {
    height: 30vh;
  }
}

@media (min-width: 1024px) {
  #direccion {
    height: 50vh;
  }
}

#map {
  width: 100%;
  height: 100%;
}

