#contenedorLogin {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#fondo {
    position: absolute;
    top: 9%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 92%;
}

#fondo img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#logoimagen {
    position: absolute;
    width: 40%;
    height: 100%;
}

#imagenLogin {
    position: absolute;
    width: 40%;
    left: 30%;
    height: 30%;
    top: 5%;
}

#imagenLogin img,
#imagensecundaria img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#imagensecundaria {
    position: absolute;
    width: 60%;
    left: 20%;
    height: 60%;
    top: 40%;
}

#datos {
    position: absolute;
    left: 30%;
    width: 40%;
    top: 18%;
    height: 90%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#datos p {
    color: #18574F;
    font-size: 20px;
    font-weight: 600;
}

#datos img,
#botonVer button img,
#botonNoVer button img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#titulo {
    position: absolute;
    top: 3%;
    width: 100%;
    height: 5%;
}

#titulo h1 {
    color: #F39325;
    font-size: 30px;
}

#titulo p {
    color: #000000;
    font-size: 25px;
}

#Cedula {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 20%;
    left: 25%;
}

#Contraseña {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 40%;
    left: 25%;
}

#Cedula p,
#Contraseña p {
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

#Cedula input,
#Contraseña input {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #F39325;
    height: 80%;
    text-align: center;
}

#botonVer,
#botonNoVer {
    position: absolute;
    top: 49.4%;
    left: 68%;
    width: 6.4%;
    height: 3.5%;
}

#botonVer button,
#botonNoVer button {
    width: 100%;
    height: 100%;
    background: transparent;
    border-color: transparent;
}

#boton button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-color: transparent;
    font-size: 20px;
    color: white;
    background-color: #F39325;
}

#olvidarContraseña {
    position: absolute;
    width: 67%;
    text-align: right;
    top: 60.4%;
    left: 9.8%;
}

#boton {
    position: absolute;
    top: 70%;
    width: 40%;
    height: 8%;
    left: 30%;
    border-radius: 10px;
    border: 5px solid #F39325;
}

#boton button {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans';
}

#noCuenta {
    position: absolute;
    top: 83%;
    width: 100%;
    text-align: center;
}

#noCuenta p {
    font-size: 20px;
    color: #18574F;
    font-weight: 600;
}

#noCuenta a {
    font-size: 20px;
    color: #F39325;
    text-decoration: none;
    font-weight: bold;
}

#olvidarContraseña p {
    font-size: 14px;
    color: #004D77;
    text-decoration: none;
}

#colores {
    width: 100%;
    background-color: #004D77;
    position: absolute;
    top: 94.5%;
    height: 9%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer {
    position: absolute;
    top: 126%;
    width: 100%;
    height: 47%;
    background-color: #ffefdaa0;
    left: 0%;
}

#tarjetaNosotros,
#tarjetaUnete,
#tarjetaLegal {
    position: absolute;
    width: 12%;
    top: 0%;
    left: 4.5%;
    height: 100%;
}

#tarjetaNosotros h1,
#tarjetaUnete h1,
#tarjetaLegal h1 {
    color: #004D77;
    font-size: 20px;
    left: 4.5%;
}

#tarjetaNosotros p,
#tarjetaUnete p,
#tarjetaLegal p {
    color: #004D77;
    left: 4.5%;
    font-size: 14px;
    margin-top: 25%;
    font-weight: 600;
    line-height: 13px;
}

#nosotrosFooter {
    position: relative;
    padding: 0px;
    background: transparent;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #F39325, #FEEDD9);
    border-image-slice: 1;
    border-image-width: 0 0 5px 0;
    left: 0%;
    top: 4.5%;
}

#tarjetaUnete {
    left: 21%;
}

#tarjetaLegal {
    left: 38%;
}

#logoImagen {
    position: absolute;
    top: 7%;
    left: 75%;
    width: 20%;
    height: 69%;
}


#logoImagen img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#final {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: #FFEFDA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#final p {
    text-align: center;
    width: 40%;
    color: #004D77;
    left: 4.5%;
}

#final #finalFinal {
    position: absolute;
    top: 0%;
    left: 77.5%;
    width: 20%;
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {
    #botonVer,
    #botonNoVer {
        position: absolute;
        top: 54%;
        left: 68%;
        width: 6.4%;
        height: 3.5%;
    }
}