<link rel="stylesheet" href="/css/clases/add.css">

<div class="bg-curso">
    <div class="w-100 container-fluid pt-2">
        {{#each listaTeacher}}
        <form action="/clases/add/{{idTeacher}}" method="post" enctype="multipart/form-data">
            {{/each}}
            <div class="col fs-3">
                {{#each MaximoCurso}}
                <p class="ms-3 fw-bold text-white">Agregar Clase<input type="text" name="idClases" id="numero"
                        value="{{Maximo}}"></p>
                {{/each}}
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </div>
            <div class="row mb-3" style="background-color: #147582;">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center my-auto"
                            style="height: 300px; overflow: hidden;">
                            <button class="btn btn-light fs-4 p-0" type="button" id="botonImagen"
                                style="width: 90%; height: 90%; max-width: 100%; max-height: 100%;">
                                <img class="img-fluid bg-white w-100 h-100" style="object-fit: contain; display: block;" src="/img/icons/noImagen.png" id="imagenPrevisualizacion" />
                            </button>
                            <input type="file" name="photoClases" id="seleccionArchivos" accept="image/*" hidden />
                        </div>

                        <div class="col-12 col-md-5 py-3">
                            <label class="form-label text-white fs-4">Nombre de la Clase</label>
                            <input class="form-control mb-3 w-100" type="text" name="nameClases" id="nameClases"
                                required>

                            <div style="width: 100%; height: 220px;" id="map"></div>
                            <input id="pac-input" class="controls" type="text" placeholder="Buscar" />
                            <input class="mb-3" type="text" name="ubicacion" id="ubicacion"><br>

                            <p id="check" class="form-label text-white fs-4"><input type="checkbox" name="neeClass"
                                    id="check"> Adaptado para NEE</p>
                        </div>

                        <div class="col-12 col-md-4 my-4">
                            <div id="cambioVideo" class="position-relative" style="max-width: 100%; max-height: auto;">
                                <video id="videoPreview" class="w-100" style="height: 320px; object-fit: contain;"
                                    src="/video/clase/noVideo.mp4" controls></video>
                            </div>
                            <div class="px-3">
                                <input type="file" name="videoClases" id="seleccionvideo" class="form-control"
                                    accept="video/*" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mb-5">
                <div class="col-12 col-md-7">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Descripción de la Clase
                                        </h5>
                                    </label>
                                    <textarea class="form-control border-1 shadow" rows="4" name="descriptionClases"
                                        id="descriptionClases" required></textarea>
                                </div>

                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Clase para</h5>
                                    </label>

                                    <div class="col-12 ">
                                        <select required name="tipoClases" id="tipoClases"
                                            class="form-select form-select-lg border-1 shadow">
                                            <option value="Individual">Individual</option>
                                            <option value="Grupal">Grupal</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Edad dirigida de la Clase
                                        </h5>
                                    </label>
                                    <div id="Edad" class="col-12">
                                        <select required name="rangeAgeTeacher" id="edadRango"
                                            class="form-select form-select-lg border-1 shadow">
                                            <option value="3-5 años">3-5 años</option>
                                            <option value="5-7 años">5-7 años</option>
                                            <option value="7-9 años">7-9 años</option>
                                            <option value="9-12 años">9-12 años</option>
                                            <option value="12-16 años">12-16 años</option>
                                            <option value="16-18 años">16-18 años</option>
                                            <option value="Universitarios">Universitarios</option>
                                            <option value="Docentes">Docentes</option>
                                        </select>
                                        <div id="rangeAgeTeacher"></div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Fecha inicio</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="date" class="form-control border-1 shadow"
                                            aria-describedby="inputGroup-sizing-lg" name="dateClasesInit" id="dateCours"
                                            required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Fecha fin</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="date" class="form-control border-1 shadow"
                                            aria-describedby="inputGroup-sizing-lg" name="dateClasesFin" id="dateCours"
                                            required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Costo</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="number" class="form-control border-1 shadow"
                                            aria-describedby="inputGroup-sizing-lg" name="costClases" id="costClases"
                                            required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Cupos</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="number" class="form-control border-1 shadow"
                                            aria-describedby="inputGroup-sizing-lg" name="shareClases" id="shareClases"
                                            required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mb-5">
                                    <label class="form-label m-0 w-100">
                                        <h5 class="text-center mb-0" style="color: #23615b;">Tiempo de la Clase</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="time" class="form-control border-1 shadow"
                                            aria-describedby="inputGroup-sizing-lg" name="hourClases" id="hourClases"
                                            required>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <button style="background-color: #0b4e71;" class="btn btn-lg text-white"
                                        type="submit">Guardar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/preview.js"></script>
<script src="/js/preview-video.js"></script>
<script src="/js/botonImagen.js"></script>
<script src="/js/numero.js"></script>
<script src="/js/checket.js"></script>
<script src="/js/EdadSeleccion.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Q9PaOYlXpeqtj_0tHE19Zcoim25iSFg&callback=initAutocomplete&libraries=places&v=weekly"
    defer></script>
<script src="/js/mapa.js"></script>