<link rel="stylesheet" href="/css/politicas/lista.css">
<form action="/policyList" method="get"></form>
<div id="contendorPoliticas">
    <div id="datos">
        <div id="politica">
            {{#each politicas}}
            <h1>{{namePolicy}}</h1>
            <img src="/img/logo/LogoPrincipal.png">
            <div id="listaPolitica">
                {{{formattedDescription}}}
            </div>
            {{/each}}
        </div>
    </div>
</div>