<link rel="stylesheet" href="/css/login/loginProfe.css">
<div id="contenedorLogin">
    <div id="fondo">
        <img src="/img/fondo/fondo1.png">
    </div>
    <div id="datos">
        <form action="/loginTeachers" method="post">
            <div id="titulo">
                <h1>Iniciar sesión</h1>
                <p style="color: #165851;">¡Hola de nuevo a ProfeGo!</p>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div id="Cedula">
                <p>Cedula:</p>
                <input type="text" name="username" id="cedula" required>
            </div>
            <div id="Contraseña">
                <p>Contraseña:</p>
                <input type="password" name="password" id="contrasena" required>
            </div>
            <div id="botonVer">
                <button type="button" id="ver"><img src="/img/icons/login/ojoCerrado.png"></button>
                <button type="button" id="nover"><img src="/img/icons/login/ojoAbierto.png"></button>
            </div>
            <div id="olvidarContraseña">
                <a href="">
                    <p>¿Olvidaste tu contraseña?</p>
                </a>
            </div>
            <div id="boton">
                <button type="submit">Ingresar</button>
            </div>
            <div id="noCuenta">
                <p>¿No tienes una cuenta? <a href="/RegisterTeachers">Regístrate aquí</a></p>
            </div>
        </form>
        <div id="colores">
            <p></p>
        </div>
    </div>
</div>
<div id="footer">
    <div id="tarjetaNosotros">
        <div id="nosotrosFooter">
            <h1>Nosotros</h1>
        </div>
        <div id="datosNosotros">
            <a href="" style="text-decoration: none;">
                <p>¿Quiénes Somos?<br>
            </a>
            <br>
            <a href="/somos" style="text-decoration: none;">¿Cómo funciona?</a><br>
            <br>
            <a href="/" style="text-decoration: none;">Testimonios</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Preguntas frecuentes</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Contacto</a></p>
        </div>
    </div>
    <div id="tarjetaUnete">
        <div id="nosotrosFooter">
            <h1>Únete</h1>
        </div>
        <div id="datosNosotros">
            <a href="/RegisterStudents" style="text-decoration: none;">
                <p>Regístrate como estudiante
            </a> <br>
            <br>
            <a href="/RegisterTeachers" style="text-decoration: none;">Sé docente o coach</a>
            </p>
        </div>
    </div>
    <div id="tarjetaLegal">
        <div id="nosotrosFooter">
            <h1>Legal</h1>
        </div>
        <div id="datosNosotros">
            <a href="/seguridad" style="text-decoration: none;">
                <p>Términos y condiciones
            </a> <br>
            <br>
            <a href="/seguridad" style="text-decoration: none;">Políticas de privacidad</a>
            </p>
        </div>
    </div>
    <div id="logoImagen">
        <img src="/img/logo/LogoPrincipal.png">
    </div>
    <div id="final">
        <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>

<script src="/js/verNoVer.js"></script>