<link rel="stylesheet" href="/css/login/loginProfe.css">
<div id="contenedorLogin">
    <div id="fondo">
        <img src="/img/fondo/fondo1.png">
    </div>
    <div id="logoimagen">
        <div id="imagenLogin">
            <img src="/img/logo/logo.png">
        </div>
        <div id="imagensecundaria">
            <img src="/img/complementos/complemento1.png" alt="">
        </div>
    </div>
    <div id="datos">
        <img src="/img/fondo/fondoLogin.png" alt="">
        <form action="/loginTeachers" method="post">
            <div id="titulo">
                <h1>Iniciar sesión</h1>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div id="Cedula">
                <p>Cedula:</p>
                <input type="text" name="username" id="cedula" required>
            </div>
            <div id="Contraseña">
                <p>Contraseña:</p>
                <input type="password" name="password" id="contrasena" required>
            </div>
            <div id="botonVer">
                <button type="button" id="ver"><img src="/img/icons/login/ojoCerrado.png"></button>
                <button type="button" id="nover"><img src="/img/icons/login/ojoAbierto.png"></button>
            </div>
            <div id="olvidarContraseña">
                <a href="">
                    <p>¿Olvidaste tu contraseña?</p>
                </a>
            </div>
            <div id="boton">
                <button type="submit">Ingresar</button>
            </div>
            <div id="noCuenta">
                <p>¿No tienes una cuenta? <a href="/RegisterTeachers">Regístrate aquí</a></p>
            </div>
        </form>
    </div>
</div>

<script src="/js/verNoVer.js"></script>