<link rel="stylesheet" href="/css/login/registroEstudiantes.css">
<div id="contenedor">
    <div id="fondo">
        <img src="/img/icons/registro.png" alt="">
    </div>
    <div id="complementos">
        <h3>Antes de registrarte presta atención a las siguientes consideraciones:</h3>
        <p>Soy mayor de 18 años.</p>
        <img src="/img/icons/Mayoredad.png" id="complementosedad">
        <p>Si soy menor de 18 años, tengo la autorización y supervisión de mi tutor legal.</p>
        <img src="/img/icons/Componentmenoredad.png" id="complementosdocumentos">
        <p>Soy un padre de familia o tutor legal gestionando la cuenta de mi hijo/hija menor de edad.</p>
        <img src="/img/icons/Componentpadre.png" id="complementospago">
    </div>
    <form action="/RegisterStudents" method="post" enctype="multipart/form-data">
        <div id="datos">
            <div id="registro">
                <h1>Registro</h1>
                <p>¡Estás a un paso de unirte a nuestra comunidad!</p>
            </div>
            <div id="imagens">
                <div id="cambioImagen">
                    <button type="button" id="botonImagen">
                        <img src="/img/icons/subirFoto.png" id="imagenPrevisualizacion"
                            onclick="document.getElementById('seleccionArchivos').click()" />
                    </button>
                    <input type="file" name="imagenCasa" id="seleccionArchivos" accept="image/*" hidden />
                </div>
            </div>
            {{#each lista}}
            <input type="text" name="idEstudent" id="numero" readonly value="{{Maximo}}">
            {{/each}}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div id="datosRegistro">
                <div id="Nombrecompleto">
                    <h1>Nombre completo:</h1>
                    <input type="text" name="completeNameEstudent" id="nombre" required>
                </div>
                <div id="Correo">
                    <h1>Correo electrónico:</h1>
                    <input type="text" name="emailEstudent" id="email" required>
                </div>
                <div id="Cedula">
                    <h1>Cédula:</h1>
                    <input type="text" name="username" id="usuario">
                </div>
                <div id="Celular">
                    <h1>Teléfono:</h1>
                    <input type="text" name="celularEstudent" id="celular">
                </div>
                <div id="Contraseña">
                    <h1>Contraseña (Mínimo 8 caracteres):</h1>
                    <input type="password" name="password" id="contrasena">
                </div>
                <div id="botonVer">
                    <button type="button" id="ver"><img src="/img/icons/login/ojoCerrado.png"></button>
                    <button type="button" id="nover"><img src="/img/icons/login/ojoAbierto.png"></button>
                </div>
                <div id="RepetirContraseña">
                    <h1>Repite la contraseña:</h1>
                    <input type="password" name="" id="contraseñaRepetir">
                </div>
                <div id="botonVer1">
                    <button type="button" id="ver1"><img src="/img/icons/login/ojoCerrado.png"></button>
                    <button type="button" id="nover1"><img src="/img/icons/login/ojoAbierto.png"></button>
                </div>
                <div id="mensajesa"></div>
                <div id="politicas">
                    <input type="checkbox" name="" id="valirdar">
                    <p id="validacion">He leído y acepto las <a href="/politicas">Políticas de Privacidad y los Términos
                            y
                            Condiciones de uso de los estudiantes</a>
                        de ProfeGo</p>
                </div>
                <div id="boton">
                    <button type="submit">Registrarse</button>
                </div>
                <div id="noCuenta">
                    <p>¿Ya tienes una cuenta? <a href="/loginStudents">Inicia sesión</a></p>
                </div>
            </div>
            <div id="colores">
                <p></p>
            </div>
        </div>
    </form>
</div>
<div id="footer">
    <div id="tarjetaNosotros">
        <div id="nosotrosFooter">
            <h1>Nosotros</h1>
        </div>
        <div id="datosNosotros">
            <a href="" style="text-decoration: none;">
                <p>¿Quiénes Somos?<br>
            </a>
            <br>
            <a href="/somos" style="text-decoration: none;">¿Cómo funciona?</a><br>
            <br>
            <a href="/" style="text-decoration: none;">Testimonios</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Preguntas frecuentes</a><br>
            <br>
            <a href="/contactos" style="text-decoration: none;">Contacto</a></p>
        </div>
    </div>
    <div id="tarjetaUnete">
        <div id="nosotrosFooter">
            <h1>Únete</h1>
        </div>
        <div id="datosNosotros">
            <a href="/RegisterStudents" style="text-decoration: none;">
                <p>Regístrate como estudiante
            </a> <br>
            <br>
            <a href="/RegisterTeachers" style="text-decoration: none;">Sé docente o coach</a>
            </p>
        </div>
    </div>
    <div id="tarjetaLegal">
        <div id="nosotrosFooter">
            <h1>Legal</h1>
        </div>
        <div id="datosNosotros">
            <a href="/seguridad" style="text-decoration: none;">
                <p>Términos y condiciones
            </a> <br>
            <br>
            <a href="/seguridad" style="text-decoration: none;">Políticas de privacidad</a>
            </p>
        </div>
    </div>
    <div id="logoImagen">
        <img src="/img/logo/LogoPrincipal.png">
    </div>
    <div id="final">
        <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>

<script src="/js/verNoVer.js"></script>
<script src="/js/numero.js"></script>
<script src="/js/preview.js"></script>
<script src="/js/botonImagen.js"></script>
<script src="/js/comparar.js"></script>