<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each listaPagina}}
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/{{photoPage}}" />
    {{else}}
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/logo.ico" style="background-color: #F39325;" />
    {{/each}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Profe Go</title>

</head>

<body>
    <!-- Contenido de la página -->
    {{{ body }}}
    {{>message}}
    <!-- Navegación (si tienes una barra de navegación) -->
    {{>navegacion}}

    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/pdf.min.js"></script>
</body>

</html>