<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each listaPagina}}
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/{{photoPage}}" />
    {{else}}
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/logo.ico" style="background-color: #F39325;" />
    {{/each}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/boostrap/animate.min.css" rel="stylesheet">
    <link href="/css/boostrap/JosefinSans.css" rel="stylesheet">
    <link href="/css/boostrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/boostrap/bootstrap-icons/font/bootstrap-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Profe Go</title>

</head>

<body>
    <!-- Navegación (si tienes una barra de navegación) -->
    {{>navegacion}}

    <script src="/js/jquery-3.7.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/pdf.min.js"></script>
    <script src="/js/boostap/bootstrap.min.js"></script>

    <!-- Contenido de la página -->
    {{{ body }}}
    {{>message}}
</body>

</html>