<link rel="stylesheet" href="">
{{#each listaPagina}}
<form action="/recours/add/{{idPage}}" method="post">
{{/each}}
    <div id="contenedor">
        <div id="titulo">{{#each lista}}
            <p>Agregar Recursos <input type="text" name="idRecours" id="numero" required
                    value="{{Maximo}}"></p>{{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div id="nombre">
            <p>Nombre del Recurso:</p>
            <input type="text" name="nameRecours" id="nameRecours" required>
        </div>
        <div id="descripcion">
            <p>Descripcion del Recurso:</p>
            <textarea type="text" name="descriptionRecourse" id="descriptionRecourse" required></textarea>
        </div>
        <div id="cantidad">
            <p>Cantidad del Recurso:</p>
            <input type="text" name="quantyRecours" id="quantyRecours" required>
        </div>
        <div id="valor">
            <p>Precio del Recurso</p>
            <input type="text" name="valueRecours" id="valueRecours" required>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>